
body {
  font-family: 'Nunito Sans', serif;
  margin: 0;
  }

#wrapper {
  padding: 0;
  max-width:100%;
  }

.rslides {
  margin: 0 auto 0;
}

#slider2,
#slider3 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
  }

.testimonial {
  width: 94%;
  padding: 3%;
  background:#939393;
  height: 370px;
  position: relative;
}

.testimonial_fixed {
  position: fixed;
  bottom: 0;
  z-index: 99;
}

.blockquote-left {
  width: 6%;
  position: absolute;
  top:28%;
  left:7%;
}

.blockquote-right {
  width: 6%;
  position: absolute;
  bottom:28%;
  right:7%;
}


.rslides_tabs {
  list-style: none;
  padding: 0;
  background: rgba(0,0,0,.25);
  box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -moz-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  font-size: 18px;
  list-style: none;
  margin: 0 auto 50px;
  max-width: 540px;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  }

.rslides_tabs li {
  display: inline;
  float: none;
  margin-right: 1px;
  }

.rslides_tabs a {
  width: auto;
  line-height: 20px;
  padding: 9px 20px;
  height: auto;
  background: transparent;
  display: inline;
  }

.rslides_tabs li:first-child {
  margin-left: 0;
  }

.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
  }

#download {
  background: #333;
  background: rgba(255,255,255,.1);
  border: 1px solid rgba(255,255,255,.1);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin: 60px auto;
  max-width: 500px;
  padding: 20px;
  }

#download:hover {
  background: rgba(255,255,255,.15);
  }

/* Callback example */


.events {
  list-style: none;
}

.callbacks_container {
  position: relative;
  float: left;
  width: 100%;
  }

.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.callbacks li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  }

.callbacks img {
  display: block;
  position: relative;
  z-index: 1;
  height: auto;
  width: 100%;
  border: 0;
}
.callbacks img.marq_vendu {
  width: 124px;
  height: 103px;
  position:absolute;
  z-index:3;
  top:0;
  left:0;
}

.txt_slide2 {
  position: absolute;
  padding:0 0 30px 20px;
  z-index:2;
  color:#FFF;
  font-size:24px;
  bottom:0;
  left:0;
}
.box_txt_slide {
  position: absolute;
  padding:0 0 0 0;
  background: url(../images/bg_slide.png);
  width:100%;
  z-index:2;
  color:#FFF;
  font-size:14px;
  bottom:0;
  left:0;
}
.box_txt_slide span {
  font-size:20px;
  display:block;
}
.txt_slide_f {
  padding:10px 0 10px 20px;
  z-index:3;
}
.txt_slide_ff {
  padding:20px 0 20px 20px;
  z-index:3;
}
.txt_slide {
  position: absolute;
  padding:0 0 10px 20px;
  z-index:2;
  color:#FFF;
  font-size:24px;
  bottom:0;
  left:0;
}
.txt_slide3 {
  position: absolute;
  padding:0 0 30px 20px;
  z-index:2;
  color:#FFF;
  font-size:24px;
  bottom:0;
  left:25%;
}

.text-englobe {
  margin: 0 auto;
  width: 30%;
  position: absolute;
  z-index: 2;
  left: 6%;
  bottom: 26%;
  padding: 0;
}
.callbacks .caption {
  font-size: 1.2vw;
  text-transform: uppercase;
  text-shadow: none;
  color: white;
  margin: 4% 20% 2% 20%;
  width: 60%;
  text-align: center;
  }

p.small {
  font-size: 1vw;
  color: white;
  margin: 1% auto;
  width: 100%;
  text-align: center;
}

a.testimonies {
  position: absolute;
  font-size: 1vw;
  right: 17%;
  bottom: 7%;
  background: #939393;
  padding: 1%;
  border: 1px solid white;
  color: white!important;
  text-decoration: none!important;
  text-transform: uppercase;
  z-index: 20;
  width: 18%;
  text-align: center;

  -webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}

a.testimonies i {
	padding-left: 3%;

	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}

a.testimonies:hover {
  color: #939393!important;
  background: white;
}

a.testimonies:hover i {
	padding-left: 7%;
}

.callbacks_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 45px;
  width: 57px;
  background: transparent url("../images/btn.png") no-repeat left top;
  margin-top: -45px;
  margin-left: -30px;
  /*display: none;*/
  }

.callbacks_nav:active {
  opacity: 1.0;
  }

.callbacks_nav.next {
  width: 58px;
  background-position: right top;
  margin:0 0 0 27px;
  }

#slider3-pager a {
  display: inline-block;
}

#slider3-pager img {
  float: left;
}

#slider3-pager .rslides_here a {
  background: transparent;
  box-shadow: 0 0 0 2px #666;
}

#slider3-pager a {
  padding: 0;
}

@media screen and (max-width: 600px) {
  }
