@charset "utf-8";
/* CSS Document */
.bloc_onebloc, .bloc_detail_b1 {
	width:100%;
	float:left;
}
.bloc_detail_b2 {
	width:100%;
	padding: 0 0 15px 0;
	min-height:100px;
	float:left;
}

.tit_descrip {
	width:100%;
	padding:10px 0 10px 0;
	margin:0;
	font-weight:bold;
	text-transform:uppercase;
	font-size:13px;
	float:left;
}
.txt_descrip{ 
	width:606px;
	padding:0;
	float:left;
}
.txt_descrip table{ 
	width:606px;
	padding:0;
	float:left;
}
.txt_descrip table tr{ 
	padding:5px 0 5px 0;
	border-bottom: 1px dashed #cccccc;
	float:left;
}
.txt_descrip table .tit_tab{ 
	width:130px;
	padding:0 3px 0 0;
	font-weight:bold;
	float:left;
}
.txt_descrip table .txt_tab{ 
	width:165px;
	padding:0 5px 0 0;
	color:#737373;
	float:left;
}

.nombre_pieces {
	width:100%;
	padding:15px 0 15px 0;
	color:#000000;
	margin:0;
	float:left;
}

.detail_piece{ 
	width:606px;
	padding:0;
	float:left;
}
.detail_piece table{ 
	width:606px;
	padding:0;
	float:left;
}
.detail_piece table tr{ 
	padding:5px 0 5px 0;
	border-bottom: 1px dashed #cccccc;
	float:left;
}
.detail_piece table th{ 
	font-weight:bold;
	text-align:left;
	float:left;
}
.detail_piece table td{ 
	color:#737373;
}
.piece_col1{ 
	width:260px;
	float:left;
}
.piece_col2{ 
	width:110px;
	float:left;
}
.piece_col4{ 
	width:126px;
	float:left;
}
.txt_evalua{ 
	width:281px;
	padding:0;
	float:left;
}
.txt_evalua table{ 
	width:281px;
	padding:0;
	float:left;
}
.txt_evalua table tr{ 
	padding:5px 0 5px 0;
	border-bottom: 1px dashed #cccccc;
	float:left;
}
.txt_evalua table .tit_tab{ 
	width:127px;
	padding:0 3px 0 0;
	font-weight:bold;
	float:left;
}
.txt_evalua table .total_tab{ 
	width:127px;
	padding:5px 3px 5px 0;
	color:#000000;
	font-weight:bold;
	float:left;
}
.txt_evalua table .txt_tab{ 
	width:146px;
	padding:0 0 0 5px;
	color:#737373;
	text-align:right;
	float:left;
}
.txt_evalua table .txt_total{ 
	width:146px;
	padding:5px 0 5px 5px;
	color:#000000;
	font-weight:bold;
	text-align:right;
	float:left;
}


.txt_dimension table{ 
	width:281px;
	padding:0;
	float:left;
}
.txt_dimension table tr{ 
	padding:5px 0 5px 0;
	border-bottom: 1px dashed #cccccc;
	float:left;
}
.txt_dimension table .tit_tab{ 
	width:147px;
	padding:0 3px 0 0;
	font-weight:bold;
	float:left;
}

.txt_dimension table .txt_tab{ 
	width:126px;
	padding:0 0 0 5px;
	color:#737373;
	float:left;
}

.tit_formul {
	width:100%;
	padding:20px 0 3px 0;
	margin:0 0 20px 0;
	color:#000000;
	font-weight:bold;
	border-bottom: 1px dashed #D5D5D5;
	font-size:15px;
	float:left;
}
.txt_calcul3 {
	width:100%;
	padding:0 0 5px 0;
	font-weight:bold;
	float:left;
}

.champs_calcul3 {
	width:340px;
	float:left;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    font-size: 16px;
    padding: 6px 5px;
	border: 1px solid #7b7c7e;
}
.erreur3 {
	width:100%;;
	color:#E2001A;
	padding: 3px 0 10px 0;
	float:left;
	display:none;
}
.erreur4 {
	width:100%;;
	color:#E2001A;
	padding: 5px 0;
	display:none;
}
.erreur_new {
	color:#E2001A;
	text-align: left;
    width: 80%;
    padding: 5px 0;
	margin: 0 auto;
	display:none;
}
.bloc_parti {
	width:439px;
	padding: 0 0 0 0;
	float:left;
}
.lig_parti {
	width:439px;
	padding: 0 0 7px 0;
	float:left;
}
.txt_parti {
	width:144px;
	padding: 2px 0 0 0;
	color:#959595;
	float:left;
}
.champs_parti {
	width:239px;
	padding: 0 0 0 0;
	float:left;
}
.txt_parti2 {
	width:439px;
	padding: 2px 0 0 0;
	color:#959595;
	float:left;
}
.pauvre {
	width:auto;
	padding: 2px 15px 0 0;
	float:left;
}
.pauvre2 {
	width:auto;
	padding: 2px 0 0 15px;
	float:left;
}
.choix_excep {
	width:20px;
	padding: 0;
	text-align:center;
	color:#959595;
	float:left;
}
.box_calcul4 {
	width:439px;
	padding:3px 0 0 0;
	float:left;
}

.txt_calcul4 {
	width:310px;
	padding:2px 5px 0 0;
	float:left;
}

.txt_parti3 {
	width:219px;
	padding: 2px 0 0 0;
	color:#959595;
	float:left;
}

















