.ui-tabs {
    position: relative;
    padding: 0;
    margin: 0 0 20px 0;
    zoom: 1;
    border: none;
}
.ui-tabs .ui-tabs-nav {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    border-bottom: 1px solid #000;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.ui-tabs .ui-tabs-nav li {
    top: 0;
    border: none;
	background:#528eb0;
}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
    color: #FFF;
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #FFF; }
.ui-tabs .ui-tabs-nav li.ui-state-active {
	background:#096aa0;
}
.ui-tabs .ui-tabs-panel {
    padding: 20px 0;
}