$color_primario : #478d8c;


.bg-primary-800{
    background-color: $color_primario;
    border-color: $color_primario;
}

.sidebar-fixed .sidebar-content{
    background-color: #000;
}

.btn-container {
    display: flex; /* Hace que los elementos hijos se coloquen en línea */
}

.btn-container button {
    margin-right: 10px; /* Margen derecho entre los botones */
}