<div class="wrap">

    <form method="GET" id="seach_form" class="propsearch" action="{% url 'web:search' language=language %}">

    <div class="searchbarcont">
        <input type="search" placeholder="{{ labels.index.placeholder.one }}" class="mainsearch mraginlef" id="fserach" name="fserach" />
        <select name="nbchambre " class="borderselect mraginlef">
            <option value="0">Nombre</option>
            <option value="1" {% if nbchambre == 1 %}selected{% endif %}>1 chambre et +</option>
            <option value="2" {% if nbchambre == 2 %}selected{% endif %}>2 chambres et +</option>
            <option value="3" {% if nbchambre == 3 %}selected{% endif %}>3 chambres et +</option>
            <option value="4" {% if nbchambre == 4 %}selected{% endif %}>4 chambres et +</option>
            <option value="5" {% if nbchambre == 5 %}selected{% endif %}>5 chambres et +</option>
        </select>
        
        
        <a class="avanceea btnjiji">Precie </a>
        

        <input type="submit" style="cursor: pointer" value="Buscar"/>
        
    </div>
    <div class="avanceediv">
        <div class="propsearch">

       

        <div class="selectcont selectcont2">
            <label for="">Prix</label>
            <select name="minamount">
                <option value="0">Minimum</option>
                <option value="0" {% if minamount == 0  %}selected{% endif %}> 0 $</option>
                <option value="1000" {% if minamount == 1000  %}selected{% endif %}> 1 000 $</option>
                <option value="1500" {% if minamount == 1500  %}selected{% endif %}> 1 500 $</option>
                <option value="2000" {% if minamount == 2000  %}selected{% endif %}> 2 000 $</option>
                <option value="2500" {% if minamount == 2500  %}selected{% endif %}> 2 500 $</option>
                <option value="3000" {% if minamount == 3000  %}selected{% endif %}> 3 000 $</option>
                <option value="3500" {% if minamount == 3500  %}selected{% endif %}> 3 500 $</option>
                <option value="4000" {% if minamount == 4000  %}selected{% endif %}> 4 000 $</option>
                <option value="4500" {% if minamount == 4500  %}selected{% endif %}> 4 500 $</option>
                <option value="5000" {% if minamount == 5000  %}selected{% endif %}> 5 000 $</option>
                <option value="5500" {% if minamount == 5500  %}selected{% endif %}> 5 500 $</option>
                <option value="6000" {% if minamount == 6000  %}selected{% endif %}> 6 000 $</option>
                <option value="200000" {% if minamount == 200000  %}selected{% endif %}> 200 000 $</option>
                <option value="300000" {% if minamount == 300000  %}selected{% endif %}> 300 000 $</option>
                <option value="400000" {% if minamount == 400000  %}selected{% endif %}> 400 000 $</option>
                <option value="500000" {% if minamount == 500000  %}selected{% endif %}> 500 000 $</option>
                <option value="600000" {% if minamount == 600000  %}selected{% endif %}> 600 000 $</option>
                <option value="700000" {% if minamount == 700000  %}selected{% endif %}> 700 000 $</option>
                <option value="800000" {% if minamount == 800000  %}selected{% endif %}> 800 000 $</option>
                <option value="900000" {% if minamount == 900000  %}selected{% endif %}> 900 000 $</option>
                <option value="1000000" {% if minamount == 1000000  %}selected{% endif %}> 1 000 000 $</option>
                <option value="1250000" {% if minamount == 1250000  %}selected{% endif %}> 1 250 000 $</option>
                <option value="1500000" {% if minamount == 1500000  %}selected{% endif %}> 1 500 000 $</option>
                <option value="2000000" {% if minamount == 2000000  %}selected{% endif %}> 2 000 000 $</option>
                <option value="3000000" {% if minamount == 3000000  %}selected{% endif %}> 3 000 000 $</option>
                <option value="4000000" {% if minamount == 4000000  %}selected{% endif %}> 4 000 000 $</option>
                <option value="5000000" {% if minamount == 5000000  %}selected{% endif %}> 5 000 000 $</option>
            </select>
            <select name="maxamount" id="maxamount">
                <option value="">Maximum</option>
                <option value="1000" {% if maxamount == 1000 %}selected{% endif %}> 1 000 $</option>
                <option value="1500" {% if maxamount == 1500 %}selected{% endif %}> 1 500 $</option>
                <option value="2000" {% if maxamount == 2000 %}selected{% endif %}> 2 000 $</option>
                <option value="2500" {% if maxamount == 2500 %}selected{% endif %}> 2 500 $</option>
                <option value="3000" {% if maxamount == 3000 %}selected{% endif %}> 3 000 $</option>
                <option value="3500" {% if maxamount == 3500 %}selected{% endif %}> 3 500 $</option>
                <option value="4000" {% if maxamount == 4000 %}selected{% endif %}> 4 000 $</option>
                <option value="4500" {% if maxamount == 4500 %}selected{% endif %}> 4 500 $</option>
                <option value="5000" {% if maxamount == 5000 %}selected{% endif %}> 5 000 $</option>
                <option value="5500" {% if maxamount == 5500 %}selected{% endif %}> 5 500 $</option>
                <option value="6000" {% if maxamount == 6000 %}selected{% endif %}> 6 000 $</option>
                <option value="200000" {% if maxamount == 200000 %}selected{% endif %}> 200 000 $</option>
                <option value="300000" {% if maxamount == 300000 %}selected{% endif %}> 300 000 $</option>
                <option value="400000" {% if maxamount == 400000 %}selected{% endif %}> 400 000 $</option>
                <option value="500000" {% if maxamount == 500000 %}selected{% endif %}> 500 000 $</option>
                <option value="600000" {% if maxamount == 600000 %}selected{% endif %}> 600 000 $</option>
                <option value="700000" {% if maxamount == 700000 %}selected{% endif %}> 700 000 $</option>
                <option value="800000" {% if maxamount == 800000 %}selected{% endif %}> 800 000 $</option>
                <option value="900000" {% if maxamount == 900000 %}selected{% endif %}> 900 000 $</option>
                <option value="1000000" {% if maxamount == 1000000 %}selected{% endif %}> 1 000 000 $</option>
                <option value="1250000" {% if maxamount == 1250000 %}selected{% endif %}> 1 250 000 $</option>
                <option value="1500000" {% if maxamount == 1500000 %}selected{% endif %}> 1 500 000 $</option>
                <option value="2000000" {% if maxamount == 2000000 %}selected{% endif %}> 2 000 000 $</option>
                <option value="3000000" {% if maxamount == 3000000 %}selected{% endif %}> 3 000 000 $</option>
                <option value="4000000" {% if maxamount == 4000000 %}selected{% endif %}> 4 000 000 $</option>
                <option value="5000000" {% if maxamount == 5000000 %}selected{% endif %}> 5 000 000 $</option>
            </select>
        </div>
    </div>
        </div>
</form>
   
</div>
<script>
    document.getElementById('seach_form').addEventListener('submit', function(e) {
        var maxamount = document.getElementById('maxamount');
        if (maxamount.value === '') {
            maxamount.removeAttribute('name');
        }
    });
</script>