{% load static %}
<html>
<head></head>
<body>
    <script src="https://www.ratehub.ca/scripts/rh-widget-loader.js" rh-title="Mortgage Payment Calculator" rh-frame-title="Ratehub.ca mortgage payment calculator" rh-widget-key="PaymentCalculator"></script>
    <div style="text-align:right; font-size:0.8em;">
        <span style="font-family:sans-serif; color:#6a787c; display:inline-block;">powered by <a rel="nofollow" href="https://www.ratehub.ca/ " style="display:inline-block;width:6em;">
            <img src="https://www.ratehub.ca/static/logo_ratehub_full_dark.svg" style="width:100%;vertical-align:text-top;" alt="Ratehub.ca ">
        </a></span>
    </div>
</body>
</html>
