{% load static %}{% load tags %}
{% include 'web/header_web.html' %}

<style>
	.banner{
		background-image: url("{{ images.contact_banner.image.url }}");
	}
	.__fijocont{
		background-image: url("{{ images.contact_team_background.image.url }}");
	}
</style>

<section class="banner nothome">
    <div class="baninfo">
        <h2>{{ labels.contact.title.one }}<span>{{ labels.contact.title.two }}</span></h2>
        <h1>{{ labels.contact.title.three }}</h1><br>
    </div>
</section>

<section class="profilhome wwuhome ww_buyint2 profilhome2">
    <div class="wrap">
        <div class="txt">
			<form id="formContact" method="post" action="{% url 'web:contact_messages' %}">
				{% csrf_token %}
				<p class="__txoform"><span style="font-weight: 200; color: black;">{{ labels.contact.text.one.upper }}</span><br><span> {{ labels.contact.text.two.upper }}</span></p>
				<input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response" value="" />
				<input type="hidden" id="sujet" name="sujet" value="Contact">
				<div class="ligne_calcul half">
					<div class="box_ctem">
						<input type="text" name="prenom" id="prenom" class="champs_tem" required="required" placeholder="*{{ labels.contact.text.three }}"/>
					</div>
				</div>
				<div class="ligne_calcul half">
					<div class="box_ctem">
						<input type="text" name="prenom" id="prenom" class="champs_tem" required="required" placeholder="*{{ labels.contact.text.four }}">
					</div>
				</div>
				<div class="ligne_calcul half">
					<div class="box_ctem">
						<input type="email" name="email" id="email" class="champs_tem" required="required" placeholder="*{{ labels.contact.text.five }}">
					</div>
				</div>
				<div class="ligne_calcul half">
					<div class="box_ctem">
						<input type="text" name="tel" id="tel" class="champs_tem" onKeyPress="return scanTouche(event)" required="required" placeholder="*{{ labels.contact.text.six }}">
					</div>
				</div>
				<div class="ligne_calcul">
					<div class="box_ctem">
						<textarea name="comment" rows="5" class="champs_tem" id="comment" required="required" placeholder="*{{ labels.contact.text.seven }}"></textarea>
					</div>
				</div>
				<div class="politique">
                    <input type="checkbox" id="check" name="check" required>
                    <label for="check">
                        {% if language == "en" %}
                            I agree to be contacted by LJ Realties via call, email, and text. To opt-out, you can reply 'stop' at any time or click the unsubscribe link in the emails. Message and data rates may apply.
                        {% else %}
                            J'accepte d'être contacté(e) par LJ Immobilier par téléphone, par courrier électronique et par SMS. Pour vous désinscrire, vous pouvez répondre « stop » à tout moment ou cliquer sur le lien de désinscription figurant dans les courriels. Des frais de messagerie et de données peuvent s'appliquer.
                        {% endif %}
                        <a href="{{ server|server_url }}/{{ language }}/{{ labels.privacy.url }}/" target="_blank">{{ labels.index.text.twenty_five }}</a>
                    </label>
                </div>
				<div id="err"></div>
				<button type="submit" class="float_right pointer">{{ labels.contact.button.one }}</button>
			</form>
            <div class="confirmation" id="confirmationContact"></div>
            
        </div>

		<div class="img">
            <div class="contactinfo">
				<p class="__txoform"><span>{{ labels.contact.text.nine.upper }}</span></p>
				<p>
					<a
						href="https://www.google.com/maps/place/LJ+Realties+-+LJ+Immobilier/@45.496386,-73.5727791,17z/data=!3m2!4b1!5s0x4cc91b14f987b8d5:0x3c14fc52240354fb!4m5!3m4!1s0x4cc93c824dc00621:0xb6aa87687fd1e9eb!8m2!3d45.496386!4d-73.5705904"
						target="_blank"
					>
                    {% if language == "en" %}
                    	1275 Av. des Canadiens-de-Montréal <br>5th floor, Montreal, Québec H3B 0G4
                    {% else %}
                    	1275 Av. des Canadiens-de-Montréal, <br>Suite 500, Montréal, Québec, H3B 0G4
                    {% endif %}
                    <br> <br>
					</a>
				</p>
				<p>
                    <a href="tel:+5145004040">
					    <i class="fa fa-phone"></i>514-500-4040
                    </a><br><br>
				</p>
				<p>{{ labels.contact.text.eleven }}<br>
					9:00 am - 17:00 pm</p>
					<p class="__txoform"><span>{{ labels.contact.text.twelve.upper }}</span></p>
				<div class="socf">
					<a target="_blank" href="https://www.facebook.com/LJRealties/?ref=br_rs" class="btnsoc"><img src="{% static 'web/images2/facebook.png' %}" alt="Facebook" class="invert" /></a>
					<a target="_blank" href="https://www.instagram.com/ljrealties/" class="btnsoc"><img src="{% static 'web/images2/instagram.png' %}" alt="Instagram" class="invert" /></a>
					<a target="_blank" href="https://fr.linkedin.com/company/lj-realties-lj-immobilier" class="btnsoc"><img src="{% static 'web/images2/linkedin.png' %}" alt="Linked in" class="invert" /></a>
					<a target="_blank" href="https://www.youtube.com/@ljaguinaga" class="btnsoc"><img src="{% static 'web/images2/youtube.png' %}" alt="YouTube" class="invert" /></a>
					<a target="_blank" href="https://www.tiktok.com/@ljrealties" class="btnsoc"><img src="{% static 'web/images2/tiktok.png' %}" alt="Tik tok" class="invert" /></a>
				</div>
			</div>
        </div>
    </div>
</section>

<section class="banner nothome __fijocont">
    <div class="baninfo2">
		<div class="profilhome3">
			<div class="img">
				<h2>{{ labels.contact.text.thirteen.upper }}<span> {{ labels.contact.text.fourteen.upper }}</span></h2>
				<h3>{{ labels.contact.text.fifteen }}</h3>
				<p>{{ labels.contact.text.sixteen }}</p>
				<!-- <h3><strong>{{ labels.contact.text.seventeen }}</strong></h3> -->
				<a class="bouton boutonnre2 btn-wwu pointer" style="margin-left: 0px; margin-top: 10px;" data-pop="popcontact">{{ labels.contact.button.two.upper }}</a>
			</div>
			<div class="txt">
				<div class="__imgteam">
					<img  src="{{ images.contact_team.image.url }}">
				</div>
			</div>
		</div>
    </div>
</section>


<section class="popwwu popcontact">
	<article>
		<span class="close">+</span>
		<form id="formContactBook" method="post" action="{% url 'web:contact_messages' %}">{% csrf_token %}
			<p class="h2def"><strong>{{ labels.work.button.three }}</strong></p>
			<input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response" value="" />
            <input type="hidden" id="sujet" name="sujet" value="Book a Call with Us">
			<input type="text" name="prenom" id="prenom" class="champs_tem" placeholder="{{ labels.work.placeholder.one }} *" required="required" />
			<input type="email" name="email" id="email" class="champs_tem"  placeholder="{{ labels.work.placeholder.two }} *" required="required" />
			<input type="tel" name="tel" id="tel" class="champs_tem" placeholder="{{ labels.work.placeholder.three }} *" onKeyPress="return scanTouche(event)" required="required" />
			<div id="err"></div>
			<input type="submit" style="margin-top: 20px; margin-bottom: 20px;" class="bouton pointer" value="{{ labels.contact.button.one }}" />
		</form>
	</article>
</section>

<section class="pagecontact">
	<div class="map">
		<iframe
			src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2796.68011648324!2d-73.5705904!3d45.496386!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cc93c824dc00621%3A0xb6aa87687fd1e9eb!2sLJ%20Realties%20-%20LJ%20Immobilier!5e0!3m2!1sfr!2sca!4v1665607002641!5m2!1sfr!2sca"
			width="100%"
			height="300"
			frameborder="0"
			style="border:0"
			allowfullscreen=""
		></iframe>
	</div>
</section>

<div style="clear:both;"></div>
<script>
    $(document).ready(function () {
		$("#formContact").on('submit', function (e) {
            e.preventDefault();
            var form = $("#formContact");
            $.ajax({
                type: "POST",
                url: form.attr("action"),
                data: form.serialize(),
                success: function (response) {
                    console.log(response);
                    if (response.response == 1) {
                        var language = "{{ language }}";
                        if (language === "en") {
                            var message = "A specialist will contact you in 24 hrs";
                        } else {
                            var message = "Un spécialiste vous contactera dans les 24 heures";
                        }
                        $("#confirmationContact").html("<p>" + message + "</p>");
						$('#formContact')[0].reset();
						$('#formContact').hide();
                    }
                    else {
                        var language = "{{ language }}";
                        if (language === "en") {
                            var message = "Required fields";
                        } else {
                            var message = "Champs obligatoires";
                        }
                        $("#err").html(message);
                    }
                }
            });
        });
    });
</script>
<script>
    $(document).ready(function () {
		$("#formContactBook").on('submit', function (e) {
            e.preventDefault();
            var form = $("#formContactBook");
            $.ajax({
                type: "POST",
                url: form.attr("action"),
                data: form.serialize(),
                success: function (response) {
                    console.log(response);
                    if (response.response == 1) {
                        var language = "{{ language }}";
                        if (language === "en") {
                            var message = "A specialist will contact you in 24 hrs";
                        } else {
                            var message = "Un spécialiste vous contactera dans les 24 heures";
                        }
                        $("#formContactBook").html(message);
						// $('#formContactBook')[0].reset();
						// $('#formContactBook').hide();
                    }
                    else {
                        var language = "{{ language }}";
                        if (language === "en") {
                            var message = "Required fields";
                        } else {
                            var message = "Champs obligatoires";
                        }
                        $("#err").html(message);
                    }
                }
            });
        });
    });
</script>
{% load static %}{% include 'web/footer_web.html' %}
