{% load tags %}{% load static %}
<style>
	.banner{
		background-image: url("{{ images.contact_banner.image.url }}");
	}
	.__fijocont{
		background-image: url("{{ images.contact_team_background.image.url }}");
	}

    .loader-container {
        position: fixed;
        z-index: 1001;
        background: rgba(0, 0, 0, 0.6);
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: flex;
    }
  
    .loader {
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid #1194A1; /* Blue */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
    }

    @keyframes spin {
        0% {
        transform: rotate(0deg);
        }
        100% {
        transform: rotate(360deg);
        }
    }
</style>
{% include 'web/free_evaluation.html' %}
<div id="load_spinner" style="position: fixed; z-index: 99999; left: 50%; top: 50%; width: 120px; height: 120px; display: none;">
<div id="load_spinner_" class="loader-container">
    <div class="loader"></div>
        <div class="row mt-4">
            <!-- <p class="font-weight-bold" style="font-size:2rem; color: #0095a2;">Processing</p> -->
        </div>
    </div>
</div>
<div id="privacy-policies-message" class="displayed">
    <div class="close" onclick="acceptCookies()"><i class="fa fa-times"></i></div>
    <div class="content">
        <div class="heading h3 "><span>{{ labels.index.text.twenty_seven }}</span>
            <div class="post-heading"></div>
        </div>
        <p>{{ labels.index.text.twenty_eight }}<br>a
			{{ labels.index.text.twenty_nine }}' <a href='{{ server|server_url }}/{{ language }}/privacy-policy/'>{{ labels.index.text.thirty }}</a>.</p>
		<div class="wrapper_btn_policies">
        	<button type="button" class="btn_policies" onclick="acceptCookies()">{{ labels.index.text.thirty_one }}</button>
		</div>
    </div>
</div>

<script type="text/javascript" src="https://use.fontawesome.com/e686055a0b.js"></script>
<script type="text/javascript" src="{% static 'web/js/cookies.js' %}"></script>
<script type="text/javascript" src="{% static 'web/js/jquery.bxslider.min.js' %}"></script>
<script type="text/javascript" src="{% static 'web/js/common.js' %}"></script>
<script type="text/javascript" src="{% static 'web/js/wow.js' %}"></script>
<script type="text/javascript" src="{% static 'web/js/jquery.mmenu.min.all.js' %}"></script>
<!-- 
<style>
    .close_newsteller {
        position: fixed !important;
        display: block !important;
        top: 26% !important;
        right: 37% !important;
    }
</style> -->

<footer>
    <div class="wrap wrap_contact">
        <div class="fcontact_col1">
            <a href="{{ server|server_url }}/{{ language }}/" class="logof">
                <img src="{% static 'web/images2/logo.png' %}" alt="LJ Immobilier">
            </a>
        </div>
        <div class="finfo fcontact_col2">
            <p><i class="fa fa-map-marker"></i><a href="https://g.page/LJRealties?share" target="_blank">
                {% if language == "en" %}1275 Av. des Canadiens-de-Montréal <br>5th floor, Montreal, Québec H3B 0G4{% else %}1275 Av. des Canadiens-de-Montréal, <br>Suite 500, Montréal, Québec, H3B 0G4{% endif %}</a></p>
            <p><i class="fa fa-phone"></i><a href="tel:+1514-500-4040">514-500-4040</a></p>
            <div class="socf">
                <a target="_blank" href="https://www.facebook.com/LJRealties/?ref=br_rs" class="btnsoc">
                    <img src="{% static 'web/images2/facebook.png' %}" alt="Facebook">
                </a>
                <a target="_blank" href="https://www.instagram.com/ljrealties/" class="btnsoc">
                    <img src="{% static 'web/images2/instagram.png' %}" alt="Instagram">
                </a>
                <a target="_blank" href="https://fr.linkedin.com/company/lj-realties-lj-immobilier" class="btnsoc">
                    <img src="{% static 'web/images2/linkedin.png' %}" alt="Linked in">
                </a>
                <a target="_blank" href="https://www.youtube.com/@ljaguinaga" class="btnsoc">
                    <img src="{% static 'web/images2/youtube.png' %}" alt="YouTube">
                </a>
                <a target="_blank" href="https://www.tiktok.com/@ljrealties" class="btnsoc">
                    <img src="{% static 'web/images2/tiktok.png' %}" alt="Tik tok">
                </a>
            </div>
            <a class="bouton openNewletter pointer">{{ labels.index.button.eight }}</a>
        </div>
        <div class="fcontact_col3">
            <form id="formContactFooter" method="post" action="{% url 'web:contact_messages' %}">
                {% csrf_token %}
                <input type="hidden" id="g-recaptcha-response-footer" name="g-recaptcha-response-footer" value="">
                <input type="hidden" id="sujet" name="sujet" value="Footer Web">
                <input type="hidden" id="tag" name="tag" value="Seller">
                <input type="text" name="prenom" id="prenom" class="champs_tem" required="required" placeholder="{{ labels.index.placeholder.two }} *" />
                <input type="email" name="email" id="email" class="champs_tem" required="required" placeholder="{{ labels.index.placeholder.three }} *" />
                <input type="text" name="tel" id="tel" class="champs_tem" onKeyPress="return scanTouche(event)" required="required" placeholder="{{ labels.index.placeholder.four }} *" />
                <div id="errFooter"></div>
                <div class="ligne_oublig"><span class="red">*</span> {{ labels.index.text.twenty_four }}</div>
                <div class="politique">
                    <input type="checkbox" id="check" name="check" required>
                    <label for="check">
                        {% if language == "en" %}
                            I agree to be contacted by LJ Realties via call, email, and text. To opt-out, you can reply 'stop' at any time or click the unsubscribe link in the emails. Message and data rates may apply.
                        {% else %}
                            J'accepte d'être contacté(e) par LJ Immobilier par téléphone, par courrier électronique et par SMS. Pour vous désinscrire, vous pouvez répondre « stop » à tout moment ou cliquer sur le lien de désinscription figurant dans les courriels. Des frais de messagerie et de données peuvent s'appliquer.
                        {% endif %}
                        <a href="{{ server|server_url }}/{{ language }}/{{ labels.privacy.url }}/" target="_blank">{{ labels.index.text.twenty_five }}</a>
                    </label>
                </div>
                <button type="submit" class="float_right pointer">{{ labels.index.button.three }}</button>
            </form>
        </div>
    </div>
    <div class="wrap">
        <p class="quartiers">
            {% for municipalite in municipalites %}
                {% if language == 'en' %}
                    <a href="{% url 'web:search_properties' language='en' option=municipalite.slug_anglaise %}">
                {% else %}
                    <a href="{% url 'web:search_properties' language='fr' option=municipalite.slug_francaise %}">
                {% endif %}
                       {{ municipalite.description }} |
                    </a>
            {% endfor %}
            {% for genre in genres %}
                {% if language == 'en' %}
                    <a href="{% url 'web:search_properties' language='en' option=genre.slug_anglaise %}">
                    {{ genre.description_anglaise }} {% if not forloop.last %}|{% endif %}
                {% else %}
                    <a href="{% url 'web:search_properties' language='fr' option=genre.slug_francaise %}">
                    {{ genre.description_francaise }} {% if not forloop.last %}|{% endif %}
                {% endif %}
                </a>
            {% endfor %}
		</p>	

		<script>

            $(document).ready(function () {		
                $('.popnews span.close').click(function(){			
                    $('#confirm_message').html("");			
                    $('#mc-embedded-subscribe-form')[0].reset();			
                    $('#mc-embedded-subscribe-form').show();		});        
                    $("#formContactFooter").on('submit', function (e) {            
                        e.preventDefault();            
                        var form = $("#formContactFooter");            
                        $.ajax({                
                            type: "POST",                
                            url: form.attr("action"),                
                            data: form.serialize(), 
                            dataType: 'json',
                            beforeSend: function () {
                                $("#load_spinner").fadeIn(200);
                            },
                            success: function (response) {  
                                if (response.response == 1) { 
                                    var language = "{{ language }}";
                                    if (language === "en") {
                                        var message = "Thank you, your message has been sent";
                                    } else {
                                        var message = "Merci, votre message a bien été envoyé";
                                    }                       
                                        $("#formContactFooter").html(message);                    
                                }                   
                                else {
                                    var language = "{{ language }}";
                                    if (language === "en") {
                                        var message = "Required fields";
                                    } else {
                                        var message = "Champs obligatoires";
                                    }
                                    $("#errFooter").html(message);                    
                                }                
                            },
                            complete: function () {
                                $("#load_spinner").fadeOut(200);
                            }
                        });        
                    });		
                    $("#mc-embedded-subscribe-form").on('submit', function (e) {            
                        e.preventDefault();            
                        var form = $("#mc-embedded-subscribe-form");            
                        $.ajax({                
                            type: "POST",                
                            url: form.attr("action"),                
                            data: form.serialize(),               
                            success: function (response) {                    
                                if (response.response == 1) {     
                                    var language = "{{ language }}";
                                    if (language === "en") {
                                        var message = "Thank you, your message has been sent";
                                    } else {
                                        var message = "Merci, votre message a bien été envoyé";
                                    }
                                    $("#confirm_message_newsteller").html("<p>"+ message +"</p>");						
                                    $('#mc-embedded-subscribe-form')[0].reset();						
                                    $('#mc-embedded-subscribe-form').hide();                    
                                    setTimeout(() => {
                                        $('#newsteller').fadeOut();
                                    }, 2000);
                                    }                   
                                else {
                                    var language = "{{ language }}";
                                    if (language === "en") {
                                        var message = "Required fields";
                                    } else {
                                        var message = "Champs obligatoires";
                                    }
                                    $("#errNews").html(message);                   
                                }                
                            }            
                        });        
                        
                    });  
                });
		</script>

        <section class="popnews" id="newsteller">
            
            <article>
                <span class="close close_newsteller">+</span>
                <div id="confirm_message_newsteller" class="confirm_message" style="color: black;"></div>
                <form action="https://ljrealties.us20.list-manage.com/subscribe/post?u=cae8a392e5c10d2e79b4d6635&amp;id=c5c07613d4&amp;f_id=00f7ccedf0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                    <p class="h2def"><strong>{{ labels.index.button.eight }}</strong></p>
                    <input type="email" name="EMAIL" id="mce-EMAIL" class="champs_tem" required="required" placeholder="{{ labels.index.placeholder.five }} *"/>
                    <input type="text" name="FNAME" id="mce-FNAME" class="champs_tem" required="required" placeholder="{{ labels.index.placeholder.six }} *"/>
                    <input type="text" name="LNAME" id="mce-LNAME" class="champs_tem" required="required" placeholder="{{ labels.index.placeholder.seven }} *"/>
                    <div hidden=""><input type="hidden" name="tags" value="1114108"></div>
                    <div id="mce-responses" class="clear">
                        <div class="response" id="mce-error-response" style="display:none; color: #000000; padding: 14px;"></div>
                        <div class="response" id="mce-success-response" style="display:none; color: #000000; padding: 14px;"></div>
                    </div>
                    <div aria-hidden="true" style="position:absolute; left:-5000px;">
                        <input type="text" name="b_cae8a392e5c10d2e79b4d6635_c5c07613d4" tabindex="-1" value="">
                    </div>
                    <div class="politique">
                        <input type="checkbox" id="check_newsletter" name="check_newsletter" required>
                        <label for="check_newsletter" style="color: black;">
                            {% if language == "en" %}
                                I agree to be contacted by LJ Realties via call, email, and text. To opt-out, you can reply 'stop' at any time or click the unsubscribe link in the emails. Message and data rates may apply.
                            {% else %}
                                J'accepte d'être contacté(e) par LJ Immobilier par téléphone, par courrier électronique et par SMS. Pour vous désinscrire, vous pouvez répondre « stop » à tout moment ou cliquer sur le lien de désinscription figurant dans les courriels. Des frais de messagerie et de données peuvent s'appliquer.
                            {% endif %}
                            <a href="{{ server|server_url }}/{{ language }}/{{ labels.privacy.url }}/" target="_blank">{{ labels.index.text.twenty_five }}</a>
                        </label>
                    </div>
                    <input type="submit" style="margin-top: 20px; margin-bottom: 20px;" name="subscribe" id="mc-embedded-subscribe" class="bouton pointer" value="{{ labels.index.button.eight }}" data-field="newsletter">
                </form>
            </article>
        </section>

        <div class="footer_copy">
            <span class="link_poli">
                <a href="{{ server|server_url }}/{{ language }}/{{ labels.privacy.url }}/">{{ labels.index.text.twenty_five }}</a>
            </span>
			© {% now "Y" %}, {{ labels.index.text.twenty_six }}</a>
        </div>

    </div>
</footer>

</body>

<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
<script type="text/javascript">
    (function($) {
        window.fnames = new Array();
        window.ftypes = new Array();
        fnames[0]='EMAIL'; ftypes[0]='email';
        fnames[1]='FNAME'; ftypes[1]='text';
        fnames[2]='LNAME'; ftypes[2]='text';
    }(jQuery));
    var $mcj = jQuery.noConflict(true);
</script>

</html>