{% load static %}{% load tags %}{% load humanize %}
{% block header_page %}
{% for image in images %}
    {% if image.name == "Index_Team" %}
        <style>
            .profilhome {
                background-image: url("/{{ image.url }}");
            }
        </style>
     {% endif %}
{% endfor %}
{% for image in images %}
    {% if image.name == "Index_Donate_Banner" %}
        <style>
            .profilhome.wwuhome {
                background-image: url("/{{ image.url }}");
            }
        </style>
    {% endif %}
{% endfor %}
{% for image in images %}
    {% if image.name == "Index_Videos" %}
        <style>
            .videoshome {
                background-image: url("/{{ image.url }}");
            }
        </style>
    {% endif %}
{% endfor %}
{% endblock %}
{% include 'web/header_web.html' %}
{% if language == 'fr' %}
	{% define 'propriete' as url_propertie %}
{% else %}
	{% define 'propertie' as url_propertie %}
{% endif %}

<section class="banner">
	<div class="baninfo">
		<h1>{{ labels.index.title.four }}</h1>
        <h2>{{ labels.index.title.five }}<span> {{ labels.index.title.six }}</span></h2>
        <a class="bouton boutonnre2">{{ labels.index.button.ten }}</a>
	</div>
	<img src="{% for image in images %}{% if image.name == 'Index_Banner' %}/{{image.url}}{% endif %}{% endfor %}" alt="View of Montreal" class="bannerimg">
</section>

<section class="statshome">
	<div class="wrap">
		<h2 class="h2def" style="font-size: 30px;"><span class="text-span">{{ labels.index.text.one }}</span> <strong>{{ labels.index.text.two }}</strong></h2>
        <div class="horizontal-line"></div>
        <div class="__cnt">
            <div class="lineal"></div>
            <div class="contsjks">
                <h3>
                    {{ labels.index.button.twelve }}
                </h3>
                <p>
                    {{ labels.index.button.twelve_b }}
                </p>
            </div>
        </div>
		<div class="statscont">
			<div class="statblock">
				<div class="img">
                    <img src="{% static 'web/images2/1.svg' %}" alt="Icon" />
                </div>
				<h3 class="h2def">{{ labels.index.text.three }} <span>{{ labels.index.text.four }}</span></h3>
				<div class="statels">
                    {% if sold_price %}
                        <div class="statel">
                            <p>{{ sold_price.initial_year|default_if_none:'' }}</p>
                            <p><span class="num counting">{{ sold_price.initial_value|default_if_none:'' }}</span>%</p>
                        </div>
                        <div class="statel">
                            <p>{{ sold_price.final_year|default_if_none:'' }}</p>
                            <p><span class="num counting">{{ sold_price.final_value|default_if_none:'' }}</span>%</p>
                        </div>
                    {% endif %}
				</div>
			</div>
			<div class="statblock">
				<div class="img"><img src="{% static 'web/images2/2.svg' %}" alt="Icon" /></div>
				<h3 class="h2def">{{ labels.index.text.five }} <span>{{ labels.index.text.six }}</span></h3>
				<div class="statels">
                        {% if days %}
                            <div class="statel">
                                <p>{{ days.initial_year|default_if_none:'' }}</p>
                                <p><span class="num counting">{{ days.initial_value|default_if_none:'' }}</span> {{ labels.index.text.nine }}</p>
                            </div>
                            <div class="statel">
                                <p>{{ days.final_year|default_if_none:'' }}</p>
                                <p><span class="num counting">{{ days.final_value|default_if_none:'' }}</span> {{ labels.index.text.nine }}</p>
                            </div>
                        {% endif %}
				</div>
			</div>
			<div class="statblock">
				<div class="img"><img src="{% static 'web/images2/3.svg' %}" alt="Icon" /></div>
				<h3 class="h2def">{{ labels.index.text.seven }} <span>{{ labels.index.text.eight }}</span></h3>
				<div class="statels">
                        {% if number_transactions %}
                            <div class="statel">
                                <p>{{ number_transactions.initial_year|default_if_none:'' }}</p>
                                <p><span class="num counting">{{ number_transactions.initial_value|default_if_none:'' }}</span></p>
                            </div>
                            <div class="statel">
                                <p>{{ number_transactions.final_year|default_if_none:'' }}</p>
                                <p><span class="num counting">{{ number_transactions.final_value|default_if_none:'' }}</span></p>
                            </div>
                        {% endif %}
				</div>
			</div>
		</div>
	</div>
</section>

<section class="profilhome">
    <div class="wrap">
        <div class="txt2">
        <h2 class='h3def'>
            <span class="text-span">{{ labels.index.text.ten }}</span> {{ labels.index.text.eleven }}</span>
        </h2>
        <div class="horizontal-line"></div>
        <div class="__cnt">
            <div class="contsjks">
            <h3>{{ labels.index.text.twelve }}</h3>
            <p>{{ labels.index.text.twelve_b }}</p>
            <br>
            <a href="{{ server|server_url }}/{{ language }}/real-estate-broker/" class="bouton">{{ labels.index.button.two }}</a>
            <a href="{{ server|server_url }}/{{ language }}/contact-realestate-broker/" class="bouton bouton2">{{ labels.index.button.three }}</a>
            </div>
        </div>
    </div>
</section>


{% if inscriptions %}
    <section class="prophome">
        <div class="wrap">
            <h2 class="h2def"><span class="text-span">{{ labels.index.text.one }}</span> <strong>{{ labels.index.text.thirteen }}</strong></h2>
            <div class="propcont">
                {% for inscription in inscriptions %}
                    <a href="{% url 'web:detail-propertie' language=language option=url_propertie propertie_id=inscription.id %}" class="propa">
                        <span class="img">
                            {% for photo in inscription.photos.all %}
                                {% if photo.seq == 1 %}
                                    <img src="{{ photo.photourl }}" alt="{% if language == 'en' %}{{ inscription.genre_propriete.description_anglaise }}{% else %}{{ inscription.genre_propriete.description_francaise }}{% endif %}
{% if inscription.prix_demande %}{% if language == 'en' %} for sale{% else %}à vendre {% endif %}{% endif %}{% if inscription.prix_location_demande %}
{% if language == 'en' %}for rent{% else %}à louer{% endif %}{% endif %} {{inscription.mun_code.description}}" title="{% if language == 'en' %}{{ inscription.genre_propriete.description_anglaise }}{% else %}{{ inscription.genre_propriete.description_francaise }}{% endif %}{% if inscription.prix_demande %}{% if language == 'en' %} for sale{% else %}à vendre{% endif %}{% endif %}{% if inscription.prix_location_demande %}{% if language == 'en' %} for rent{% else %}à louer{% endif %}{% endif %} {{inscription.mun_code.description}}" class="propimg" />
{%endif%}
                            {% endfor %}
                            <p> 
                                {% if inscription.code_statut.valeur == "VE" %}
                                                        <span class="prix_maison_hid">{% if language == "en" %}Sold{% else %}Vendu{% endif%}</span>
                                                    {% else %}
                                                        {% if inscription.prix_demande and language == "en" %}
                                                            ${{inscription.prix_demande|floatformat:0|intcomma}} {% if inscription.ind_taxes_prix_demande %}<span> +GST/QST{% endif %}</span>
                                                        {% elif inscription.prix_demande and language == "fr" %}
                                                            {{inscription.prix_demande|floatformat:0|intcomma}}$ {% if inscription.ind_taxes_prix_demande %}<span> +GST/QST{% endif %}</span>
                                                        {%endif%}
                                                        {% if inscription.prix_location_demande and language == "en" %}
                                                            ${{inscription.prix_location_demande|floatformat:0|intcomma}}
                                                        {% elif inscription.prix_location_demande and language == "fr" %}
                                                            {{inscription.prix_location_demande|floatformat:0|intcomma}}$
                                                        {%endif%}
                                                        {% if inscription.frequence_prix_location and language == "en" %}
                                                            / <span class="text-lowercase">{{ inscription.frequence_prix_location.description_anglaise }}</span>
                                                        {% elif inscription.frequence_prix_location and language == "fr"  %}
                                                            / <span class="text-lowercase">{{ inscription.frequence_prix_location.description_francaise }}</span>
                                                        {% endif %}
                                                    {% endif %}
                            </p>
                        </span>
                        <div class="rollprop">
                            <strong><p class="text-uppercase">{% if language == "en" %}
                                {{ inscription.genre_propriete.description_anglaise }}
                            {% else %}
                                {{ inscription.genre_propriete.description_francaise }}
                            {% endif %}
                            {% if inscription.prix_demande %}
                                {% if language == "en" %}
                                    for sale
                                {% else %}
                                    à vendre 
                                {% endif %}
                            {% endif %}
                            {% if inscription.prix_location_demande %}
                                {% if language == "en" %}
                                    for rent
                                {% else %}
                                    à louer
                                {% endif %}
                            {% endif %}</p></strong>
                            <p class="text-capitalize">{{inscription.mun_code.description}}</p>
                        </div>
                    </a>
                {% endfor %}
            </div>
            <a href="{{ server|server_url }}/{{ language }}/properties/" class="bouton">{{ labels.index.button.four }}</a>
        </div>
    </section>
{% else %}
    <section class="piecesbloc" style="display: flex; justify-content: center; align-items: center;">
        <div class="adressebloc">
            <div class="box_vendu">No properties</div>
        </div>
    </section>
{% endif %}

<section class="profilhome wwuhome">
    <div class="wrap">
        <div class="txt">
            <h2 class="h2def-white">{{ labels.index.text.fourteen }}<br><strong>{{ labels.index.text.fifteen }}</strong></h2>
            <div class="horizontal-line-white"></div>
            <p>{{ labels.index.text.sixteen }} <br><strong>{{ labels.index.text.seventeen }}</strong><br><br>{{ labels.index.text.eighteen }}</p>
            <a target="_blank" href="https://autisme-montreal.com/en/" class="bouton boutonnre3">{{ labels.index.button.five }}</a>
        </div>
        <div class="img">
            <img src="{% for image in images %}{% if image.name == 'Index_Donate' %}/{{image.url}}{% endif %}{% endfor %}" alt="LJ Immobilier">
        </div>
    </div>
</section>

<div class="avishome">
    <div class="wrap">
        <h2 class="h2def"><span class="text-span">{{ labels.index.text.nineteen }}</span> <strong>{{ labels.index.text.twenty }}</strong></h2>
        <div class="aviscont">
            <div data-romw-token="PZzqTWZUzrgNv4PnX9OJGq3pFaIKjpTUDmgpBRUAl2Qj9nl2dq"></div>
            <script src="https://reviewsonmywebsite.com/js/v2/embed.js?id=fd1f59fcc8467fb2938d974af932af56" type="text/javascript"></script>
        </div>
        <!-- <a href="https://www.google.com/search?q=lj+realties&rlz=1C5CHFA_enCA932CA932&oq=lj&aqs=chrome.1.69i57j69i59j46i175i199i512j46i131i433i512j0i512j69i60j69i61l2.3691j0j7&sourceid=chrome&ie=UTF-8#lrd=0x4cc93c824dc00621:0xb6aa87687fd1e9eb,3,,," target="_blank" class="bouton">{{ labels.index.button.six }}</a> -->
    </div>
</div>
<section class="videoshome">
    <div class="wrap">
        <h2 class="h3def"><span class="text-span">{{ labels.index.text.twenty_one }}</span> {{ labels.index.text.twenty_two }}</h2>
        <div class="videoshomecont">
            {% for video in video_urls %}
                <a href="https://www.youtube.com/watch?v={{ video.video_id }}" class="thumbhome">
                    <img src="https://img.youtube.com/vi/{{ video.video_id }}/hqdefault.jpg" alt="{{ video.title }}">
                </a>
            {% endfor %}
        </div>
        <a href="{{ server|server_url }}/{{ language }}/media/" class="bouton">{{ labels.index.button.seven }}</a>
    </div>
</section>

<section class="soldprop">
    <h2 class="h2def"><span class="text-span">{{ labels.index.text.one }}</span><strong>{{ labels.index.text.twenty_three }}</strong></h2>
	<div class="soldmap">
		<div id="map-container">
			<div id="map" style="height: 450px; width: 100%"></div>
		</div>
	</div>

	<link rel="stylesheet" href="https://macleweb.com/mapLeaflet/leaflet.css" />
	<link rel="stylesheet" href="https://macleweb.com/mapLeaflet/markercluster/screen.css" />
	<link rel="stylesheet" href="https://macleweb.com/mapLeaflet/markercluster/dist/MarkerCluster.css" />
	<link rel="stylesheet" href="https://macleweb.com/mapLeaflet/markercluster/dist/MarkerCluster.Default.css" />
    <script src="https://macleweb.com/mapLeaflet/leaflet-src.js"></script>
	<script src="https://macleweb.com/mapLeaflet/markercluster/dist/leaflet.markercluster-src.js"></script>

	<script type="text/javascript">

		var point = new Array();

        {% for inscription in inscriptions_vendu %}
            point.push(new Array("{{ inscription.latitude|stringformat:'s'|cut:',' }}", "{{ inscription.longitude|stringformat:'s'|cut:',' }}"));
        {% endfor %}
		// point.push(new Array("46.0326814","-74.2823293"));
		// point.push(new Array("45.533176","-73.558621"));
		// point.push(new Array("45.5167303","-73.5762313"));
		// point.push(new Array("45.4662312","-73.8767149"));
		// point.push(new Array("45.526807","-73.7658951"));
		// point.push(new Array("45.6466628","-73.8200708"));
		// point.push(new Array("45.4713503","-73.87773"));
		// point.push(new Array("45.4969829","-73.8210685"));
		// point.push(new Array("45.665656","-73.585932"));
		// point.push(new Array("45.3891747","-73.9693649"));
		// point.push(new Array("45.5643616","-73.5969474"));
		// point.push(new Array("45.4901901","-73.5588512"));
		// point.push(new Array("45.6530933","-73.5684936"));
		// point.push(new Array("45.392236","-73.5250011"));
		// point.push(new Array("45.6679287","-73.5715094"));
		// point.push(new Array("45.768077","-73.4791027"));
		// point.push(new Array("45.51587800","-73.43196600"));
		// point.push(new Array("45.69069601","-73.49262242"));
		// point.push(new Array("45.33914950","-73.29794714"));
		// point.push(new Array("45.23825900","-74.11898600"));
		// point.push(new Array("45.24622400","-74.15329000"));
		// point.push(new Array("45.67248700","-73.49573900"));
		// point.push(new Array("45.35252400","-73.30334100"));
		// point.push(new Array("45.45685300","-73.78268900"));

		point.forEach(function(pont) {
            console.log("Latitude: " + pont[0] + ", Longitude: " + pont[1]);
        });
		var tiles = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {});
		latlng = L.latLng(45.503121, -73.589550);
		var map = L.map('map', {center: latlng, zoom: 11, layers: [tiles],dragging: !L.Browser.mobile, tap: !L.Browser.mobile});
		var markers = L.markerClusterGroup();

		for (var i = 0; i < point.length; i++) {
			var a = point[i];
			var marker = L.marker(new L.LatLng(a[0], a[1]));
			markers.addLayer(marker);
		}

		map.addLayer(markers);

	</script>

</section>


{% load static %}{% include 'web/footer_web.html' %}

