{% load static %}{% load tags %}{% include 'web/header_web.html' %}

<style>
    .banner{
        background-image: url("{{ images.team_banner.image.url }}");
    }
</style>

<section class="banner nothome">
	<div class="baninfo">
        <h2>{{ labels.team.title.one }} <span>{{ labels.team.title.two }}</span></h2>
    </div>
</section>

<section class="teamsingle">
	<div class="wrap">
		<div class="img"><img src="{{ member.image.url }}" alt="{{ member.membre.prenom }} {{ member.membre.nom }}"></div>
		<div class="singleinfo">
			<h1 class="h2def"><span>{% if language == 'en' %}Meet{% else %}Rencontrez{% endif %}</span> {{ member.membre.prenom }} {{ member.membre.nom }}</h1>
			<p>
                {% if language == 'fr' %}
                    {{ member.occupation }} 
                {% else %}
                    {{ member.occupation_anglaise }} 
                {% endif %}
            </p>
			<div class="socmember">
                <a class="btnsoc" href="tel:+1{{ member.membre.telephone_1 }}"><i class="fa fa-phone"></i></a>
                <a class="btnsoc" href="mailto:{{ member.membre.courriel }}"><i class="fa fa-envelope"></i></a>
                {% if member.facebook %}
                    <a class="btnsoc" href="{{ member.facebook }}" target="_blank"><img src="{% static 'web/images2/facebook.png' %}" alt="Facebook" /></a>
                {% endif %}
                {% if member.instagram %}
                    <a class="btnsoc" href="{{ member.instagram }}" target="_blank"><img src="{% static 'web/images2/instagram.png' %}" alt="Instagram" /></a>
                {% endif %}
                {% if member.linkedin %}
                    <a class="btnsoc" href="{{ member.linkedin  }}" target="_blank"><img src="{% static 'web/images2/linkedin.png' %}" alt="LinkedIn" /></a>
                {% endif %}
                {% if member.twitter %}
                    <a class="btnsoc" href="{{ member.twitter }}" target="_blank"><img src="{% static 'web/images2/twitter.png' %}" alt="Facebook" /></a>
                {% endif %}
                {% if member.tiktok %}
                    <a class="btnsoc" href="{{ member.tiktok }}" target="_blank"><img src="{% static 'web/images2/tiktok.png' %}" alt="Facebook" /></a>
                {% endif %}
                {% if member.youtube %}
                    <a class="btnsoc" href="{{ member.youtube }}" target="_blank"><img src="{% static 'web/images2/youtube.png' %}" alt="Youtube" /></a>
                {% endif %}
			</div>
			<hr>
			<div class="minibionew">
				<div class="minibiotxt">
					<p style="white-space: break-spaces;">{% autoescape off %}{% if language == "en" %}{{ member.presentation_a|default_if_none:''  }}{% else %}{{ member.presentation_f|default_if_none:''  }}{% endif %}{% endautoescape %}</p>
				</div>
				<div class="minibiocontact">
					<a href="mailto:{{ member.membre.courriel }}" class="bouton">{% if language == "en" %}Contact{% else %}Contactez{% endif %}</a>
				</div>	
			</div>
			<hr>
		</div>
		<div class="fullbtn "><a href="{{ server|server_url }}/{{ language }}/{{ labels.menu.url.two }}/" class="bouton bouton3">{% if language == "en" %}Back to all team members{% else %}Retour aux membres de l'équipe{% endif %}</a></div>
	</div>
</section>


{% load static %}{% include 'web/footer_web.html' %}
