{% load static %}{% load tags %}{% include 'web/header_web.html' %}

<style>
	.banner{
		background-image: url("{{ images.privacy_banner.image.url }}");
	}
</style>

<section class="banner nothome">
    <div class="baninfo">
        <h2>{{ labels.privacy.title.one }} <span> {{ labels.privacy.title.two }}</span></h2>
    </div>
</section>

<section class="pol">
	<div class="wrap">

		{% if language == 'en' %}
			<h1>LJ REALTIES PRIVACY POLICY</h1>
			
			<p>
				This Privacy Policy (this "Policy") describes the policies and procedures of LJ Realties (collectively, along with our affiliates, "we", "our" or "us") on the how we collect, use and disclose of information through your use of
				this website or our mobile application (collectively, the "Service").
			</p>
			<p>LJ Realties is independently owned and operated. This Privacy Policy does not apply to the collection, use, storage, and disclosure of information by Broker or sales associates other than through the Service.</p>

			<p>We may change this Policy, and will provide notice of changes through the Service or by email. Your continued use of the Service after notice constitutes your consent to the change.</p>

			<h2>WHAT INFORMATION DOES THIS APPLY TO?</h2>

			<p>
				This Policy applies to information collected by the Service as described herein. When you use the Service, you agree to the collection, transfer, manipulation, storage, disclosure, and other uses of your information as described
				in this Policy.
			</p>

			<h2>HOW IS INFORMATION COLLECTED?</h2>

			<h3>Information you provide to us</h3>

			<p>
				We collect information you provide directly to us through the Service, including when you create your account, including contact information, and information sent to us through the Service. We may also upload your contact
				information into the Services if you provide that information to us offline or in other ways.
			</p>

			<h3>Information we collect through your use of the Service</h3>

			<p>When you use the Service, we may collect the following information about you:</p>

			<ul>
				<li>
					Real Estate Preferences. We may collect information on your real estate searches and preferences using the Service, including about whether you plan on buying or selling real estate, home search criteria, information about
					financing for the purchase of real estate, and other information related to the purchase or sale of real estate.
				</li>

				<li>
					Usage Preferences. We collect information about how you interact with the Service, preferences, and settings. In some cases we do this through the use of cookies and similar technologies such as web beacons that create and
					maintain unique identifiers. To learn more about this, please see the section on "Cookies" below.
				</li>
				<li>
					Devices and Software. We may collect information about the device and software you provide us to access the Service, including, for example, hardware, operating system, software and file names and versions, preferred
					language, unique device identifier, advertising identifiers, serial number, and network information.
				</li>

				<li>
					Log Information. When you interact with the Service, we collect server logs, which may include information like device IP address, access times, app features accessed, pages viewed, app crashes and other system activity,
					type of browser, and referral link information.
				</li>

				<li>Location. If you permit the Service to access location services used by your device, we may collect the location of your device while you are using the Service.</li>

				<li>Communication Information. Information sent by you to us through email or other communications methods.</li>
			</ul>

			<h3>Other information</h3>

			<p>We may also receive information from other sources, including:</p>

			<ul>
				<li>
					Social Media. If you choose to link, create, or log in to your Service account with a social media service (e.g., Twitter, Facebook, Google+, etc.), or if you engage with a separate app or website that communicates with the
					Service, we may receive information about you or your connections from that service. In most cases you can control what information you share with us through privacy settings available on those third party social media
					services.
				</li>

				<li>
					Third Parties. If you also interact with us in another capacity, including on any other website, app, or in person, we may combine or associate that information with information we have collected from you through the
					Service.
				</li>

				<li>
					Pre-Populated Information. Pre-populated information is information that may include your name and email address, that you have given to one of our independent real estate professionals with whom you have a pre-existing
					relationship. The professional may collect such pre-populated Information from you with the sole purpose of pre-populating an account for the Service on your behalf and with your consent. You may choose not to finalize the
					creation of an account and may opt-out of all future communications from us by following the instructions in the account creation notification or by contacting us at the email address at the bottom of this page.
				</li>
			</ul>

			<h2>HOW IS INFORMATION USED?</h2>

			<p>We may use the information collected as described above as follows:</p>

			<ul>
				<li>
					Provide the Service. Provide, maintain, and improve the Service, including, for example, to send or facilitate communications among you, independent real estate professionals and their affiliated entities, and other users of
					the Service, provide products and services you request (and send related information), develop new features, provide customer support, and send updates and administrative messages. Further, we reserve the right to share the
					information with our affiliated companies, marketing partners, and third party service providers, as permitted by law, in order to fulfill our commitment of providing you with full service real estate brokerage services.
				</li>

				<li>Analysis. Perform internal operations, including, for example, to troubleshoot bugs and operational issues, improve security; conduct data analysis, testing, and research; and monitor and analyze usage and activity.</li>

				<li>
					Communicate. Inform you about other services and products that may be available through us, our family of companies, our franchisees and/or companies with which we have a marketing relationship, and to provide you a customer
					survey to assess your satisfaction with our services and products.
				</li>

				<li>Personalize. Personalize and improve the Service, including to provide or recommend features, content, social connections, referrals, and advertisements.</li>
			</ul>

			<p>
				We are based in the Canada. By accessing or using the Service, you consent to the processing and transfer of information about you in and to the Canada and other countries, where you may not have the same rights under local law.
				However, wherever we process information about you, we will do so in accordance with this Policy.
			</p>

			<h2>HOW IS INFORMATION SHARED?</h2>

			<p>We may share the information we collect about you as described in this Policy or as described at the time of collection or sharing, including as follows:</p>

			<h3>Through the Service.</h3>

			<p>We may share your information:</p>

			<ul>
				<li>With independent real estate professionals and owners and operators of other franchised real estate brokerage companies to enable them to provide services you request through the Service.</li>

				<li>With third parties to provide you a service you requested through a partnership or promotional offering made by a third party or us.</li>

				<li>With the public if you submit to a public part of the Service, such as comments, social media posts, or other features viewable by the public or generally by registered users of the Service.</li>

				<li>With third parties with whom you choose to let us share information, for example other apps or websites that integrate with the Service, or those with a Service with which we integrate.</li>

				<li>With our affiliates.</li>
			</ul>

			<h3>Through other means of Sharing.</h3>

			<p>We may share your information:</p>

			<ul>
				<li>With our affiliates and third party service providers that provide services or conduct data processing on our behalf, or for data centralization and/or logistics purposes.</li>

				<li>With vendors, consultants, marketing partners, and other service providers who need access to such information to carry out work on our behalf.</li>

				<li>In response to a request for information by a competent authority if we believe disclosure is in accordance with, or is otherwise required by, any applicable law, regulation, or legal process.</li>

				<li>In connection with the potential merger, sale of company assets, consolidation or restructuring, financing, or acquisition of all or a portion of our business by or into another company.</li>

				<li>In an aggregated and/or anonymous form which cannot reasonably be used to identify you.</li>
			</ul>

			<h2>HOW DOES SOCIAL SHARING APPLY?</h2>

			<p>
				The Service may integrate with social sharing features and other related tools which let you log in to the Service or share actions you take on the Service. Your use of such features enables the sharing of information with your
				friends or the public, depending on the settings you establish with the social sharing service. Please refer to the privacy policies of those social sharing services for more information about how they handle the data you
				provide to or share through them. We do not receive or store passwords to your third party social media accounts.
			</p>

			<h2>WHAT'S THE POLICY ON THIRD PARTY ANALYTICS AND ADVERTISING SERVICES?</h2>

			<p>
				We may allow others to provide audience measurement and analytics services for us, to serve advertisements on our behalf, and to track and report on the performance of those advertisements. These entities may use cookies, web
				beacons, SDKs, and other technologies to identify your device when you use the Service, as well as when you visit other online sites and services, and such services will be covered by the privacy policy of the respective third
				parties.
			</p>

			<p>
				We use Google Analytics to collect information about use of the Service. More information on Google Analytics - including how you can control the information sent to Google - can be found here:
				www.google.com/policies/privacy/partners/.
			</p>

			<p>You may also choose to control some of the advertisements you receive on the Service by visiting <a href="http://www.networkadvertising.org/managing/opt_out.asp">http://www.networkadvertising.org/managing/opt_out.asp</a>.</p>

			<h2>WHAT'S YOUR COOKIE POLICY?</h2>

			<h3>What are cookies?</h3>

			<p>
				Cookies are small data files stored on your in your device memory when you visit a website. Cookies and similar technologies are widely used by websites to make them work more efficiently, as well as to provide information to
				the website operator about how users are using their website.
			</p>

			<h3>How does the Service use cookies?</h3>

			<p>
				We use cookies to improve the Service and your experience, for example to enable you to move easily between the pages of our the Service websites. We also use cookies for analytics purposes, to see which areas and features of
				our the Service are popular, and to count visits. Additionally, we may use 'web beacons', which are electronic images that may be used on the Service, including in our emails to help deliver cookies, count visits, and understand
				usage and campaign effectiveness.
			</p>

			<p>
				Essential cookies are essential, as they enable you to move around the Service and use its features. Without these cookies we could not, for example, authenticate your login or remember that you are logged-in as you move through
				the Service.
			</p>

			<p>
				Functionality cookies allow us to remember choices you make (such as the region you're in) and tailor the Service to provide enhanced features and content for you. For instance, they can be used to remember your login details or
				remember your nickname when you next login. They may also be used to provide services you've requested, for example leaving a comment on the Service.
			</p>

			<p>
				Analytics &amp; performances cookies collect information about how the Service is used, for example which pages users visit most often and if any error messages are displayed on certain pages. Information collected using these
				cookies is used to monitor activity on the Service and understand how it is being used.
			</p>

			<h3>How to change your cookie settings.</h3>

			<p>
				Most devices allow you to block cookies by adjusting the settings on your browser. However, if you use your browser settings to block all cookies (including essential cookies, such as those allowing you to log-in) you may not be
				able to access all or parts of our the Service. To find out more about cookies, including how to see what cookies have been set and how to manage and delete them, please refer to your browser 'help' section, or visit
				<a href="www.aboutcookies.org" target="_blank">www.aboutcookies.org</a> or <a href="www.allaboutcookies.org" target="_blank">www.allaboutcookies.org.</a>
			</p>

			<h3>Cookies that have been set in the past.</h3>

			<p>If you have disabled one or more cookies, we may still use information collected from cookies before your disabled preference was set. However, we will stop using the disabled cookie to collect any further information.</p>

			<h2>WHAT ARE MY CHOICES?</h2>

			<h3>Account Information.</h3>

			<p>
				You may update, correct or delete information about you at any time by emailing us at at the email address at the bottom of this page. Please note that we may retain certain information as required by law or for legitimate
				business purposes. We also may retain cached or archived copies of information about you for a certain period of time.
			</p>

			<h3>Promotional communications.</h3>

			<p>
				You may opt out of receiving promotional messages from us by following the instructions in those messages. If you opt out, we may still send you non-promotional communications, such as those about your account, about services
				you have requested, and our ongoing business relationship.
			</p>

			<h2>CONTACT US</h2>

			<p>If you have any questions about this Policy, please contact us. Our email address is <a href="mailto:info@ljrealties.com">info@ljrealties.com</a>.</p>
		{% else %}

			<h1>POLITIQUE DE PROTECTION DES RENSEIGNEMENTS PERSONNELS DE LJ IMMOBILIER</h1>
		
			<p>
				La présente politique de protection des renseignements personnels (la «&nbsp;politique&nbsp;») décrit les politiques et procédures suivies par LJ Immobilier (collectivement avec nos sociétés affiliées, «&nbsp;nous&nbsp;»,
				«&nbsp;notre&nbsp;» ou «&nbsp;nos&nbsp;») concernant la manière dont nous recueillons, utilisons et communiquons des renseignements en lien avec votre utilisation du présent site Web ou de notre application mobile (collectivement,
				le «&nbsp;service&nbsp;»).
			</p>
		
			<p>
				LJ Immobilier est une entreprise indépendante. La présente politique de protection des renseignements personnels ne s’applique pas à la collecte, à l’utilisation, au stockage et à la communication de renseignements par le courtier
				ou les associés aux ventes autrement que par le biais du service.
			</p>
		
			<p>
				Nous pouvons apporter des modifications à la présente politique, auquel cas nous fournirons un avis de modification par le biais du service ou par courriel. En continuant à utiliser le service après la réception d’un tel avis, vous
				consentez à ces modifications.
			</p>
		
			<h2>À QUELS RENSEIGNEMENTS LA PRÉSENTE POLITIQUE S’APPLIQUE-T-ELLE?</h2>
		
			<p>
				La présente politique s’applique aux renseignements recueillis par le service, comme décrit ci- après. Lorsque vous utilisez le service, vous consentez à la collecte, au transfert, à la manipulation, au stockage, à la communication
				et aux autres utilisations de vos renseignements conformément à la présente politique.
			</p>
		
			<h2>COMMENT VOS RENSEIGNEMENTS SONT-ILS RECUEILLIS?</h2>
		
			<h3>Renseignements que vous nous fournissez.</h3>
		
			<p>
				Nous recueillons les renseignements que vous nous fournissez directement par le biais du service, y compris lorsque vous créez votre compte, notamment vos coordonnées. Il se peut également que nous téléversions vos coordonnées vers
				les services si vous nous fournissez ces renseignements hors ligne ou d’une autre manière.
			</p>
		
			<h3>Renseignements que nous recueillons dans le cadre de votre utilisation du service.</h3>
		
			<p>Lorsque vous utilisez le service, nous pouvons recueillir les renseignements suivants à votre sujet&nbsp;:</p>
		
			<ul>
				<li>
					Préférences en matière d’immobilier&nbsp;: nous pouvons recueillir des renseignements sur les recherches que vous effectuez et les préférences que vous exprimez en matière d’immobilier dans le cadre de votre utilisation du
					service, y compris votre intention d’acheter ou de vendre un bien immobilier, vos critères de recherche de logement, des renseignements sur le financement de l’achat d’un bien immobilier et d’autres informations liées à l’achat
					ou à la vente d’un bien immobilier.
				</li>
				<li>
					Préférences d’utilisation&nbsp;: nous recueillons des renseignements sur la manière dont vous interagissez avec le service, vos préférences et vos paramètres. Pour ce faire, nous utilisons parfois des témoins et des technologies
					semblables telles que des pixels espions qui créent et conservent des identifiants uniques. Pour en savoir plus, veuillez consulter la rubrique «&nbsp;Témoins&nbsp;» ci-dessous.
				</li>
				<li>
					Appareils et logiciels&nbsp;: nous pouvons recueillir des renseignements sur l’appareil et le logiciel que vous nous utilisez pour accéder au service, y compris, par exemple, le matériel, le système d’exploitation, les noms et
					versions des logiciels et des fichiers, la langue de préférence, l’identifiant unique de l’appareil, les identifiants publicitaires, le numéro de série et des renseignements sur le réseau.
				</li>
				<li>
					Journaux de serveur&nbsp;: lorsque vous interagissez avec le service, nous recueillons des journaux de serveur, lesquels peuvent inclure des renseignements tels que l’adresse IP de votre appareil, vos temps d’accès, les
					fonctionnalités de l’application que vous utilisez, les pages que vous consultez, les plantages de l’application et les autres activités du système, le type de navigateur utilisé et des renseignements sur les liens de référence.
				</li>
				<li>Localisation&nbsp;: si vous autorisez le service à accéder aux services de localisation utilisés par votre appareil, nous pouvons recueillir la localisation de votre appareil pendant que vous utilisez le service.</li>
				<li>Renseignements fournis dans les communications&nbsp;: renseignements que vous nous envoyez par courriel ou par le biais d’autres moyens de communication.</li>
			</ul>
		
			<h3>Autres renseignements.</h3>
		
			<p>Il se peut que nous recevions des renseignements provenant d’autres sources, notamment&nbsp;:</p>
		
			<ul>
				<li>
					Les médias sociaux&nbsp;: si vous choisissez de lier un service de médias sociaux (par exemple, Twitter, Facebook, Google+, etc.) à votre compte sur le service ou de vous connecter à votre compte sur le service par
					l’intermédiaire de celui-ci, ou si vous interagissez avec une application ou un site Web distinct qui communique avec le service, nous pouvons recevoir des renseignements sur vous ou vos connexions provenant de ce service. Dans
					la plupart des cas, vous pouvez contrôler les renseignements que vous partagez avec nous grâce aux paramètres de confidentialité disponibles sur ces services de médias sociaux tiers.
				</li>
				<li>
					Les tiers&nbsp;: si vous interagissez également avec nous à un autre titre, y compris sur tout autre site Web, toute autre application ou en personne, nous pouvons combiner ou associer les renseignements recueillis à cette
					occasion avec ceux que nous avons recueillis auprès de vous par le biais du service.
				</li>
				<li>
					Renseignements préremplis&nbsp;: les renseignements préremplis sont des renseignements pouvant inclure votre nom et votre adresse courriel, que vous avez communiqués à l’un de nos professionnels de l’immobilier indépendants avec
					lequel vous entreteniez déjà une relation. Ce professionnel peut recueillir ces renseignements auprès de vous dans le seul but de préremplir un compte sur le service en votre nom et avec votre consentement. Vous pouvez choisir
					de ne pas finaliser la création d’un compte et de vous désabonner de toute communication future de notre part en suivant les instructions figurant dans l’avis de création du compte ou en communiquant avec nous à l’adresse
					courriel indiquée au bas de la présente page.
				</li>
			</ul>
		
			<h2>À QUELLES FINS UTILISONS-NOUS VOS RENSEIGNEMENTS?</h2>
		
			<p>Nous pouvons utiliser les renseignements recueillis aux fins suivantes&nbsp;:</p>
		
			<ul>
				<li>
					Fourniture du service&nbsp;: pour fournir, maintenir et améliorer le service, y compris, par exemple, vous envoyer des communications ou faciliter les communications entre vous, les professionnels de l’immobilier indépendants et
					leurs entités affiliées, et d’autres utilisateurs du service, fournir les produits et services que vous demandez (et envoyer des informations connexes), développer de nouvelles fonctionnalités, fournir du soutien à la clientèle,
					et envoyer des mises à jour et des messages d’ordre administratif. En outre, nous nous réservons le droit de partager vos renseignements avec nos sociétés affiliées, nos partenaires de marketing et nos prestataires de services
					tiers, dans la mesure où la loi le permet, en vue de respecter notre engagement de vous fournir des services de courtage immobilier complets.
				</li>
				<li>
					Analyse&nbsp;: pour réaliser des opérations internes, y compris, par exemple, pour résoudre les bogues et les problèmes opérationnels, améliorer la sécurité, effectuer des analyses de données, des tests et des recherches, et
					surveiller et analyser l’utilisation et l’activité.
				</li>
				<li>
					Communication&nbsp;: pour vous informer au sujet d’autres services et produits que nous, notre famille d’entreprises, nos franchisés et/ou les entreprises avec lesquelles nous entretenons des relations commerciales pouvons
					mettre à disposition, et vous proposer un sondage client pour évaluer votre satisfaction à l’égard de nos services et produits.
				</li>
				<li>Personnalisation&nbsp;: pour personnaliser et améliorer le service, notamment pour fournir ou recommander des fonctionnalités, du contenu, des connexions sociales, des références et des publicités.</li>
			</ul>
		
			<p>
				Notre siège social se trouve au Canada. En accédant au service ou en l’utilisant, vous consentez au traitement et au transfert de renseignements vous concernant au Canada et dans d’autres pays, où les normes locales de protection
				des renseignements personnels peuvent différer. Toutefois, quel que soit l’endroit où nous traitons les renseignements vous concernant, nous le faisons dans le respect de la présente politique.
			</p>
		
			<h2>COMMENT PARTAGEONS-NOUS VOS RENSEIGNEMENTS?</h2>
		
			<p>Nous pouvons partager les renseignements que nous recueillons à votre sujet comme décrit aux présentes ou comme décrit au moment de leur collecte ou de leur partage, y compris comme suit&nbsp;:</p>
		
			<h3>Par le biais du service.</h3>
		
			<p>Nous pouvons partager vos renseignements&nbsp;:</p>
		
			<ul>
				<li>
					avec des professionnels de l’immobilier indépendants et des propriétaires et exploitants d’autres sociétés de courtage immobilier franchisées afin de leur permettre de fournir les services que vous demandez par l’intermédiaire
					du service;
				</li>
				<li>avec des tiers pour vous fournir un service que vous avez demandé dans le cadre d’un partenariat ou d’une offre promotionnelle faite par un tiers ou par nous;</li>
				<li>
					avec le public, si vous soumettez des renseignements dans une partie publique du service, notamment dans des commentaires, des publications sur les médias sociaux ou d’autres fonctionnalités visibles par le public ou
					généralement par les utilisateurs enregistrés du service;
				</li>
				<li>
					avec des tiers avec lesquels vous nous autorisez à partager vos renseignements, par exemple d’autres applications ou sites Web qui sont intégrés au service, ou d’autres applications ou sites Web qui offrent un service avec
					lequel notre service est intégré;
				</li>
				<li>avec nos sociétés affiliées.</li>
			</ul>
		
			<h3>Par d’autres moyens.</h3>
		
			<p>Nous pouvons partager vos renseignements&nbsp;:</p>
		
			<ul>
				<li>
					avec nos sociétés affiliées et nos prestataires de services tiers qui fournissent des services ou traitent des données en notre nom, ou à des fins de centralisation des données et/ou de logistique;
				</li>
				<li>avec des fournisseurs, des consultants, des partenaires commerciaux et d’autres prestataires de services qui ont besoin d’accéder à ces renseignements pour réaliser des tâches en notre nom;</li>
				<li>
					en réponse à une demande d’information émanant d’une autorité compétente, si nous estimons que la communication des renseignements à celle-ci est conforme à une loi, un règlement ou une procédure judiciaire applicable, ou
					qu’elle est autrement requise par une telle loi, un tel règlement ou une telle procédure;
				</li>
				<li>In connection with the potential merger, sale of company assets, consolidation or restructuring, financing, or acquisition of all or a portion of our business by or into another company.</li>
				<li>dans le cadre d’une possible fusion, vente d’actifs de l’entreprise, consolidation ou restructuration, du financement ou de l’acquisition de tout ou partie de nos activités par une autre entreprise;</li>
				<li>sous une forme agrégée et/ou anonyme qui ne peut raisonnablement être utilisée pour vous identifier.</li>
			</ul>
		
			<h2>QU’EN EST-IL DU PARTAGE SUR LES MÉDIAS SOCIAUX?</h2>
		
			<p>
				Le service peut comprendre des fonctionnalités de partage sur les médias sociaux et d’autres outils connexes qui vous permettent de vous connecter aux plateformes de médias sociaux et de partager les actions que vous effectuez sur
				le service. L’utilisation de ces fonctions vous permet de partager des renseignements avec vos amis ou avec le public, en fonction des paramètres que vous avez définis sur les plateformes de médias sociaux en question. Veuillez
				consulter les politiques de confidentialité de ces plateformes de médias sociaux pour en savoir plus sur la manière dont elles traitent les données que vous leur fournissez ou partagez par leur biais. Nous ne recevons ni ne
				conservons les mots de passe de vos comptes de médias sociaux tiers.
			</p>
		
			<h2>QUELLE EST VOTRE POLITIQUE CONCERNANT LES SERVICES D’ANALYSE ET DE PUBLICITÉ DE TIERS?</h2>
		
			<p>
				We may allow others to provide audience measurement and analytics services for us, to serve advertisements on our behalf, and to track and report on the performance of those advertisements. These entities may use cookies, web
				beacons, SDKs, and other technologies to identify your device when you use the Service, as well as when you visit other online sites and services, and such services will be covered by the privacy policy of the respective third
				parties.
			</p>
		
			<p>
				Nous pouvons demander à des tiers de nous fournir des services de mesure d’audience et d’analyse, de diffuser des publicités en notre nom, et de suivre le rendement de ces publicités et de nous en faire rapport. Ces entités peuvent
				utiliser des témoins, des pixels espions, des trousses de développement logiciel et d’autres technologies pour reconnaître votre appareil lorsque vous utilisez le service, ainsi que lorsque vous consultez d’autres sites ou d’autres
				services en ligne, lesquels autres services seront couverts par la politique de protection des renseignements personnels des tiers concernés.
			</p>
		
			<p>
				Nous utilisons Google Analytics pour recueillir des renseignements sur l’utilisation du service. Vous trouverez plus d’informations sur Google Analytics, y compris sur la manière dont vous pouvez contrôler vos renseignements envoyés
				à Google, au <a href="www.google.com/policies/privacy/partners/">www.google.com/policies/privacy/partners/</a>.
			</p>
		
			<p>
				Vous pouvez également choisir de contrôler certaines des publicités que vous recevez sur le service en vous rendant au
				<a href="http://www.networkadvertising.org/managing/opt_out.asp">http://www.networkadvertising.org/managing/opt_out.asp</a>.
			</p>
		
			<h2>QUELLE EST VOTRE POLITIQUE EN MATIÈRE DE TÉMOINS?</h2>
		
			<h3>Qu’est-ce qu’un témoin?</h3>
		
			<p>
				Les témoins sont de petits fichiers de données qui sont stockés sur la mémoire de votre appareil lorsque vous vous rendez sur un site Web. Les témoins et les technologies semblables sont largement utilisés par les sites Web pour
				améliorer leur efficacité et pour fournir des renseignements à l’exploitant du site Web sur la façon dont les utilisateurs utilisent son site Web.
			</p>
		
			<h3>Comment le service utilise-t-il les témoins?</h3>
		
			<p>
				Nous utilisons des témoins pour améliorer le service et votre expérience, par exemple pour vous permettre de naviguer facilement entre les pages des sites Web du service. Nous utilisons également des témoins à des fins d’analyse,
				afin de déterminer quelles parties et fonctionnalités de notre service sont les plus populaires et pour compter les visites. En outre, nous pouvons utiliser des pixels espions, qui sont des images électroniques, y compris dans nos
				courriels, afin de soutenir la transmission des témoins, le décompte des visites et pour connaître l’utilisation et l’efficacité de nos campagnes.
			</p>
		
			<p>
				Certains témoins sont essentiels, car ils vous permettent de naviguer sur le service et d’utiliser ses fonctionnalités. Sans ces témoins, nous ne pourrions pas, par exemple, authentifier votre ouverture de session ou vous permettre
				de rester connecté alors que vous naviguez sur le service. Les témoins de fonctionnalité permettent de garder en mémoire les choix que vous faites (comme la région dans laquelle vous vous trouvez) et d’adapter le service de façon à
				vous fournir des fonctionnalités et du contenu améliorés. Par exemple, ils peuvent être utilisés pour mémoriser vos renseignements de connexion ou votre pseudonyme lorsque vous vous reconnectez. Ils peuvent également nous permettre
				de vous fournir les services que vous avez demandés, par exemple en laissant un commentaire sur le service.
			</p>
		
			<p>
				Les témoins d’analyse et de rendement recueillent des renseignements sur l’utilisation qui est faite du service, par exemple les pages qui sont le plus souvent consultées par les utilisateurs ou les messages d’erreur qui s’affichent
				sur certaines pages. Les renseignements recueillis à l’aide de ces témoins sont utilisés pour surveiller l’activité sur le service et comprendre comment il est utilisé.
			</p>
		
			<h3>Changer vos paramètres en matière de témoins.</h3>
		
			<p>
				La plupart des appareils vous permettent de bloquer les témoins en réglant les paramètres de votre navigateur. Toutefois, si vous utilisez les paramètres de votre navigateur pour bloquer tous les témoins (y compris les témoins
				essentiels, comme ceux qui vous permettent de vous connecter), il se peut que vous ne soyez plus en mesure d’accéder à tout ou partie du service. Pour en savoir plus sur les témoins, notamment pour savoir quels témoins ont été
				installés et comment les gérer et les supprimer, veuillez consulter la section d’aide de votre navigateur ou vous rendre au <a href="www.aboutcookies.org" target="_blank">www.aboutcookies.org</a> ou au
				<a href="www.allaboutcookies.org" target="_blank">www.allaboutcookies.org.</a>
			</p>
		
			<h3>Témoins qui ont été installés dans le passé.</h3>
		
			<p>
				Si vous avez désactivé un ou plusieurs témoins, nous pouvons toujours utiliser les renseignements qui ont été recueillis par les témoins avant cette désactivation. Cependant, nous cesserons d’utiliser les témoins désactivés pour
				recueillir de nouveaux renseignements.
			</p>
		
			<h2>QUELS CHOIX S’OFFRENT À MOI?</h2>
		
			<h3>Renseignements sur le compte.</h3>
		
			<p>
				À tout moment, vous pouvez mettre à jour ou corriger les renseignements que nous détenons à votre sujet ou demander que nous les supprimions en nous envoyant un courriel à l’adresse figurant au bas de la présente page. Veuillez
				noter que nous pouvons conserver certains renseignements si la loi l’exige ou à des fins commerciales légitimes. Nous pouvons également conserver des copies antémémorisées ou archivées des renseignements vous concernant pendant une
				certaine période.
			</p>
		
			<h3>Communications promotionnelles.</h3>
		
			<p>
				Vous pouvez choisir de ne pas recevoir de messages promotionnels de notre part en suivant les instructions à cet effet figurant dans lesdites communications. Si vous choisissez de ne plus recevoir de messages promotionnels, nous
				pourrons toutefois continuer à vous envoyer des communications non promotionnelles, notamment des communications concernant votre compte, les services que vous avez demandés et notre relation commerciale continue.
			</p>
		
			<h2>COMMUNIQUER AVEC NOUS</h2>
		
			<p>Si vous avez des questions au sujet de la présente politique, n’hésitez pas à nous envoyer un courriel à <a href="mailto:info@ljrealties.com">info@ljrealties.com</a>.</p>


		{% endif %}
	</div>
</section>

{% load static %}{% include 'web/footer_web.html' %}
