{% load static %}{% load tags %}{% include 'web/header_web.html' %}

<section class="banner nothome">
	<img src="{% static 'web/images2/banner-team.jpg' %}" alt="Photo - LJ Realties, Agence immobilière" class="bannerimg" />
    <div class="baninfo">
        <h2>{{ labels.team.title.one }} <span>{{ labels.team.title.two }}</span></h2>
        <h1>{{ labels.team.title.three }}</h1>
    </div>
</section>

{% if language == 'en' %}
	{% define 'broker' as broker %}
{% else %}
	{% define 'courtier' as broker %}
{% endif %}
{% if team %}
    <section class="teampage">
        <div class="content_search">
            <div class="prop-bg">
                <div class="w">
                    <form method="GET" id="search_form" class="propsearch specific-padding" action="">
                        <input type="hidden" name="Codelang" value="{{ language }}" />
                        <label for="forwhat1" class="tablabel">{{ labels.team.text.eight }}</label>
                        <div class="searchbarcont">
                            <input type="search" placeholder="{{ labels.team.text.eight }}" class="mainsearch" id="wsearch" name="wsearch" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="wrap" id="team-results">
            {% for member in team %}
                <div class="member">
                    <a href="{% url 'web:member' language=language option='courtier' member_id=member.membre.id %}" class="img">
                        <img src="{{ member.image_over.url }}" alt="{{ member.user.get_full_name}}" class="overIMG">
                        <img src="{{ member.image.url }}" alt="{{ member.user.get_full_name }}">
                        <h2>{{ member.user.get_full_name }}</h2>
                    </a>
                    <div class="memberinfo">
                        <p style="margin: 0 1px 10px;">{% if language == 'en' %}{% if member.occupation %}{{ member.occupation }} & {% endif %}{{ member.membre.type_certificat.description_anglaise }}{% else %}{% if member.occupation_anglaise %}{{ member.occupation_anglaise }} et {% endif %}{{ member.membre.type_certificat.description_francaise }}{% endif %}</p>
                        <div class="socmember">
                            <a class="btnsoc" href="tel:+1{{ member.membre.telephone_1 }}"><i class="fa fa-phone"></i></a>
                            <a class="btnsoc" href="mailto:{{ member.membre.courriel }}"><i class="fa fa-envelope"></i></a>
                            {% if member.facebook %}
                                <a class="btnsoc" href="{{ member.facebook }}" target="_blank"><img src="{% static 'web/images2/facebook.png' %}" alt="Facebook" /></a>
                            {% endif %}
                            {% if member.instagram %}
                                <a class="btnsoc" href="{{ member.instagram }}" target="_blank"><img src="{% static 'web/images2/instagram.png' %}" alt="Instagram" /></a>
                            {% endif %}
                            {% if member.linkedin %}
                                <a class="btnsoc" href="{{ member.linkedin }}" target="_blank"><img src="{% static 'web/images2/linkedin.png' %}" alt="LinkedIn" /></a>
                            {% endif %}
                            {% if member.twitter %}
                                <a class="btnsoc" href="{{ member.twitter }}" target="_blank"><img src="{% static 'web/images2/twitter.png' %}" alt="Facebook" /></a>
                            {% endif %}
                        </div>
                        {% if member.membre %}
                            <a href="{% url 'web:member' language=language option='courtier' member_id=member.membre.id %}" class="bouton">{{ labels.team.button.one }}</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% else %}
    <section class="piecesbloc" style="display: flex; justify-content: center; align-items: center;">
        <div class="adressebloc">
            <div class="box_vendu">No members created</div>
        </div>
    </section>
{% endif %}

{% load static %}{% include 'web/footer_web.html' %}

<script>
    $(document).ready(function(){
        $('#wsearch').on('input', function() {
            var query = $(this).val();
            var language = "{{ language }}";

            $.ajax({
                type: 'GET',
                url: "{% url 'web:searchMember' %}",
                data: {
                    'term': query,
                    'Codelang': language
                },
                dataType: 'json',
                success: function(data) {
                    var results = data.results;
                    $('#team-results').empty();
                    for (var i = 0; i < results.length; i++) {
                        var member = results[i];
                        var memberUrl = `/{{language}}/courtier/${member.id}/`;
                        var occupationText = member.occupation ? `${member.occupation} & ` : '';
                        var memberElement = `
                            <div class="member">
                                <a href="${memberUrl}" class="img">
                                    <img src="${member.image_over}" alt="${member.name}" class="overIMG">
                                    <img src="${member.image}" alt="${member.name}">
                                    <h2>${member.name}</h2>
                                </a>
                                <div class="memberinfo">
                                    <p style="margin: 0 1px 10px;">${occupationText}${member.certification}</p>
                                    <div class="socmember">
                                        <a class="btnsoc" href="tel:+1${member.phone}"><i class="fa fa-phone"></i></a>
                                        <a class="btnsoc" href="mailto:${member.email}"><i class="fa fa-envelope"></i></a>
                                        ${member.facebook ? `<a class="btnsoc" href="${member.facebook}" target="_blank"><img src="{% static 'web/images2/facebook.png' %}" alt="Facebook" /></a>` : ''}
                                        ${member.instagram ? `<a class="btnsoc" href="${member.instagram}" target="_blank"><img src="{% static 'web/images2/instagram.png' %}" alt="Instagram" /></a>` : ''}
                                        ${member.linkedin ? `<a class="btnsoc" href="${member.linkedin}" target="_blank"><img src="{% static 'web/images2/linkedin.png' %}" alt="LinkedIn" /></a>` : ''}
                                        ${member.twitter ? `<a class="btnsoc" href="${member.twitter}" target="_blank"><img src="{% static 'web/images2/twitter.png' %}" alt="Twitter" /></a>` : ''}
                                    </div>
                                    <a href="${memberUrl}" class="bouton">{{ labels.team.button.one }}</a>
                                </div>
                            </div>
                        `;
                        $('#team-results').append(memberElement);
                    }
                }
            });
        });
    });
</script>