{% load static %}{% load tags %}{% include 'web/header_web.html' %}

<style>
	.banner{
		background-image: url("{{ images.videos_banner.image.url }}");
	}
</style>

<section class="banner nothome">
	<div class="baninfo">
        <h2>{{ labels.videos.title.one }}<span> {{ labels.videos.title.two }}</span></h2>
    </div>	
</section>

<section class="poppod">
	<article></article>
	<span class="close">+</span>
</section>

<section class="capsules">
	<div class="wrap">
        {% for video in videos %}
            <div href="https://www.youtube.com/watch?v={{ video.videoId }}" class="capsule msrItem">
                <a href="https://www.youtube.com/watch?v={{ video.videoId }}" class="img"> <img src="https://img.youtube.com/vi/{{ video.videoId }}/hqdefault.jpg" alt="{{ video.title }}t" /></a>
                <h3>{{ video.tittle }}</h3>
                <p class="sm">{{ video.publishedAt|date:"d/m/Y" }}</p>
                <p>
                    {{ video.description|slice:":200" }}{% if video.description|length > 200 %}...{% endif %}<br />
                    <a>{% if language == "en" %}Read more{% else %}Lire plus{% endif %}</a>
                </p>
                <p class="hiddendesc">
                    {{ video.description }}
                </p>
                <a href="https://www.youtube.com/watch?v={{ video.videoId }}" class="bouton">{{ labels.videos.button.one }}</a>
            </div>
        {% endfor %}
	</div>
</section>

<script>
	var time = undefined;

	$(window).load(function(){
		$('.capsule').each(function(){
		$(this).height($(this).height());
	});

	

	 /*		
	if($(window).width() > 800){
	    $('.capsules .wrap').msrItems({
	        'colums': 3, //columns number
	        'margin': 30 //right and bottom margin
	    });
	}else{
	    $('.capsules .wrap').msrItems({
	        'colums': 2, //columns number
	        'margin': 15 //right and bottom margin
	     });
	 }

	 $( window ).on('resize', function(e) {
	    clearTimeout(time);
	    time = setTimeout(function(){
	         //$('.capsules .wrap').msrItems('refresh');
	          if($(window).width() > 800){
	            $('.capsules .wrap').msrItems({
	                'colums': 3, //columns number
	                'margin': 30 //right and bottom margin
	             });
	            }else{
	                $('.capsules .wrap').msrItems({
	                    'colums': 2, //columns number
	                    'margin': 15 //right and bottom margin
	                });
	            }
	             $('.capsule').each(function(){
	                $(this).css('height','auto');
	                $(this).height($(this).height());
	            });
	            if($(window).width() > 800){
	                $('.capsules .wrap').msrItems({
	                    'colums': 3, //columns number
	                     'margin': 30 //right and bottom margin
	                     });
	            }else{
	            $('.capsules .wrap').msrItems({
	                'colums': 2, //columns number
	                'margin': 15 //right and bottom margin
	            });
	             }
	        }, 300);
	    })
		*/
	});
</script>
<div style="clear:both;"></div>

{% load static %}{% include 'web/footer_web.html' %}
