{% load static %}{% load tags %}
{% include 'web/header_web.html' %}
{% block header_page %}
<link rel="stylesheet" href="{% static 'web/css/ratehub.css' %}">
{% endblock %}
<style>
    .banner{
		background-image: url("{{ images.work_banner.image.url }}");
	}
    .bannertwo{
        background-image: url("{{ images.work_next_steps.image.url }}");
        
    }
</style>

<section class="banner nothome">
    <div class="baninfo">
        <h2>{{ labels.work.title.three }} <span>{{ labels.work.title.four }} ?</span></h2>
        <h1>{{ labels.work.text.ten }}</h1><br>
    </div>
</section>

<section class="profilhome wwuhome ww_buyint profilhome2">
    <div class="wrap">
        <div class="txt">
            <h2 class="h2def-white"><strong>{{ labels.work.text.one }} <span style="color: #333333;">{{ labels.work.text.two }}</span></strong></h2>
            <div class="horizontal-line-white"></div>
            <p>{{ labels.work.text.five }} <br><strong>{{ labels.work.text.eleven }}</strong><br><br>{{ labels.work.text.twelve }}</p>
            <table class="responsive-table">
                <tr>
                  <td><img src="{% static 'web/images2/icotba1.svg' %}" alt=""></td>
                  <td style="text-transform: uppercase;"><strong>{{ labels.work.text.fourteen }}:</strong> </td>
                  <td>{{ labels.work.text.fifteen }}</td>
                </tr>
                <tr>
                    <td><img src="{% static 'web/images2/icotba1.svg' %}" alt=""></td>
                  <td style="text-transform: uppercase;"><strong>{{ labels.work.text.sixteen }}:</strong> </td>
                  <td>{{ labels.work.text.seventeen }}</td>
                </tr>
                <tr>
                    <td><img src="{% static 'web/images2/icotba1.svg' %}" alt=""></td>
                  <td style="text-transform: uppercase;"><strong>{{ labels.work.text.eighteen }}:</strong> </td>
                  <td>{{ labels.work.text.nineteen }}</td>
                </tr>
                <tr>
                    <td><img src="{% static 'web/images2/icotba1.svg' %}" alt=""></td>
                  <td style="text-transform: uppercase;"><strong>{{ labels.work.text.twenty }}:</strong> </td>
                  <td>{{ labels.work.text.twenty_one }}</td>
                </tr>
                <tr>
                    <td><img src="{% static 'web/images2/icotba1.svg' %}" alt=""></td>
                  <td style="text-transform: uppercase;"><strong>{{ labels.work.text.twenty_two }}:</strong> </td>
                  <td>{{ labels.work.text.twenty_three }}</td>
                </tr>
               
              </table>
              
            <div class="__diplex">
                <a data-pop="popcontactBook" style="margin-bottom: 10px !important; color: #00AAAE !important; font-weight: 600;" class="bouton btn-wwu boutonnre5 pointer">{{ labels.work.button.six }}</a>
                <a data-pop="buyers" class="bouton btn-wwu boutonnre4 pointer">{{ labels.work.button.seven }}</a>
            </div>
            
        </div>
        <div class="img">
            <img src="{{ images.work_buy.image.url }}">
        </div>
    </div>
</section>


<section class="profilhome wwuhome ww_buyint2 profilhome2">
    <div class="wrap">
        <div class="img">
            <img src="{{ images.work_sell.image.url }}">
        </div>

        <div class="txt">
            <h2 class="h2def-white cgris"><strong>{{ labels.work.text.three }} <span style="color: #1194A1;">{{ labels.work.text.four }}</span></strong></h2>
            <div class="horizontal-line-verde"></div>
            <p>{{ labels.work.text.six}}</p>
            <table class="responsive-table2">
                <tr>
                  <td><img src="{% static 'web/images2/icotba2.svg' %}" alt=""></td>
                  <td><strong>{{ labels.work.text.twenty_five }}:</strong> {{ labels.work.text.twenty_six }}</td>
      
                </tr>
                <tr>
                    <td><img src="{% static 'web/images2/icotba2.svg' %}" alt=""></td>
                  <td><strong>{{ labels.work.text.twenty_seven}}:</strong> {{ labels.work.text.twenty_eight }}</td>
                 
                </tr>
                <tr>
                    <td><img src="{% static 'web/images2/icotba2.svg' %}" alt=""></td>
                  <td><strong>{{ labels.work.text.twenty_nine }}:</strong> {{ labels.work.text.thirty }}</td>
                 
                </tr>
                <tr>
                    <td><img src="{% static 'web/images2/icotba2.svg' %}" alt=""></td>
                  <td><strong>{{ labels.work.text.thirty_one }}:</strong> {{ labels.work.text.thirty_two }}</td>
                  
                </tr>
                <tr>
                    <td><img src="{% static 'web/images2/icotba2.svg' %}" alt=""></td>
                  <td><strong>{{ labels.work.text.thirty_three }}:</strong> {{ labels.work.text.thirty_four }}</td>
         
                </tr>
                <tr>
                    <td><img src="{% static 'web/images2/icotba2.svg' %}" alt=""></td>
                  <td><strong>{{ labels.work.text.thirty_five }}:</strong> {{ labels.work.text.thirty_six }}</td>
         
                </tr>
               
              </table>
              
            <div class="__diplex">
                <a target="_blank" style="margin-bottom: 10px !important; color: #00AAAE !important; font-weight: 600;" onclick="$('#free_evaluation').fadeIn();" class="bouton boutonnre5 pointer">{{ labels.work.button.eight }}</a>
                <a data-pop="listing" class="bouton btn-wwu boutonnre4 pointer">{{ labels.work.button.nine }}</a>
            </div>
            
        </div>
        
    </div>
</section>

<section class="banner nothome bannertwo">
    <div class="baninfo" style="padding-top: 0px !important; margin-top: -10px !important;">
        <h2>{{ labels.work.text.thirty_seven }}<span> {{ labels.work.text.thirty_eight }}</span></h2>
        <h3>{{ labels.work.text.thirty_nine }}<br>{{ labels.work.text.forty }}</h3>
        <p>{{ labels.work.text.forty_one }}<br>{{ labels.work.text.forty_two }}</p>
        <a class="bouton boutonnre2 btn-wwu pointer" data-pop="popcontact">{{ labels.work.button.ten }}</a>
    </div>
</section>

<section class="popwwu buyers">
	<article>
        <span class="close">+</span>
		<div class="confirmation" id="confirmationBuyers"></div>
		<form id="formBuyers" method="post" action="{% url 'web:contact_messages' %}">
            {% csrf_token %}
			<p class="h2def"><strong>{{ labels.work.button.one }}</strong></p>
			<p class="link_download">{{ labels.work.text.nine }}</p>
			<input type="hidden" id="g-recaptcha-response-buyers" name="g-recaptcha-response-buyers" value="" />
            <input type="hidden" id="sujet" name="sujet" value="I Want to Buy">
			<input type="text" name="prenom" id="prenom-buyers" class="champs_tem" placeholder="{{ labels.work.placeholder.one }} *" required="required" />
			<input type="email" name="email" id="email-buyers" class="champs_tem" placeholder="{{ labels.work.placeholder.two }} *" required="required" />
			<input type="tel" name="tel" id="tel-buyers" class="champs_tem" placeholder="{{ labels.work.placeholder.three }} *" onKeyPress="return scanTouche(event)" required="required" />
			<div id="errBuyers"></div>
			<input type="submit" value="{{ labels.work.button.four }}" class="pointer"/>
		</form>
	</article>
</section>

<section class="popwwu listing">
	<article>
        <span class="close">+</span>
		<div class="confirmation" id="confirmationListing"></div>
		<form id="formListing" method="post" action="{% url 'web:contact_messages' %}">
            {% csrf_token %}
			<p class="h2def"><strong>{{ labels.work.button.two }}</strong></p>
			<p class="link_download">{{ labels.work.text.nine }}</p>
			<input type="hidden" id="g-recaptcha-response-listing" name="g-recaptcha-response-listing" value="" />
            <input type="hidden" id="sujet" name="sujet" value="I Want to Sell">
			<input type="text" name="prenom" id="prenom-listing" class="champs_tem" placeholder="{{ labels.work.placeholder.one }} *" required="required" />
			<input type="email" name="email" id="email-listing" class="champs_tem" placeholder="{{ labels.work.placeholder.two }} *" required="required" />
			<input type="tel" name="tel" id="tel-listing" class="champs_tem" placeholder="{{ labels.work.placeholder.three }} *" onKeyPress="return scanTouche(event)" required="required" />
			<div id="errListing"></div>
			<input type="submit" value="{{ labels.work.button.four }}" class="pointer">
		</form>
	</article>
</section>

<section class="popwwu popcontact">
	<article>
		<div class="confirmation" id="confirmationContact"></div>
		<form id="formContact" method="post" action="{% url 'web:contact_messages' %}">{% csrf_token %}
			<p class="h2def"><strong>{{ labels.work.button.three }}</strong></p>
			<input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response" value="" />
            <input type="hidden" id="sujet" name="sujet" value="Book a Call with Us">
			<input type="text" name="prenom" id="prenom" class="champs_tem" placeholder="{{ labels.work.placeholder.one }} *" required="required" />
			<input type="email" name="email" id="email" class="champs_tem" placeholder="{{ labels.work.placeholder.two }} *" required="required" />
			<input type="tel" name="tel" id="tel" class="champs_tem" placeholder="{{ labels.work.placeholder.three }} *" onKeyPress="return scanTouche(event)" required="required" />
			<div id="err"></div>
			<input type="submit" value="{{ labels.work.button.five }}" class="pointer">
		</form>
        <span class="close">+</span>
	</article>
</section>

<section class="popwwu popcontactBook">
	<article>
		<form id="formContactBook" method="post" action="{% url 'web:contact_messages' %}">{% csrf_token %}
			<p class="h2def"><strong>{{ labels.work.button.three }}</strong></p>
			<input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response" value="" />
            <input type="hidden" id="sujet" name="sujet" value="Book a Call with Us">
			<input type="text" name="prenom" id="prenom" class="champs_tem" placeholder="{{ labels.work.placeholder.one }} *" required="required" />
			<input type="email" name="email" id="email" class="champs_tem" placeholder="{{ labels.work.placeholder.two }} *" required="required" />
			<input type="tel" name="tel" id="tel" class="champs_tem" placeholder="{{ labels.work.placeholder.three }} *" onKeyPress="return scanTouche(event)" required="required" />
			<div id="err"></div>
			<input type="submit" value="{{ labels.contact.button.one }}" class="pointer">
		</form>
        <span class="close">+</span>
	</article>
</section>

<section class="toolsect">
	<div class="wrap">
		<h2 class="h2def">{% if language == 'en' %}<span>Tools</span> Mortgage calculator{% else %}<span>Outils</span> Calculatrice hypothécaire{% endif %}</h2>
        <script src="https://www.ratehub.ca/scripts/rh-widget-loader.js" rh-title="Mortgage Payment Calculator" rh-frame-title="Ratehub.ca mortgage payment calculator" rh-widget-key="PaymentCalculator"></script><div style="text-align:right; font-size:0.8em"><span style="font-family:sans-serif; color:#6a787c; display:inline-block;">powered by <a rel="nofollow" href="https://www.ratehub.ca/?offer_id=2 " style="display:inline-block;width:6em;"><img src="https://www.ratehub.ca/static/logo_ratehub_full_dark.svg" style="width:100%;vertical-align:text-top;" alt="Ratehub.ca "></a></span></div>
	</div>
</section>

<script>

    $(document).ready(function () {
        $("#formContact").on('submit', function (e) {
            e.preventDefault();
            var form = $("#formContact");
            $.ajax({
                type: "POST",
                url: form.attr("action"),
                data: form.serialize(),
                success: function (response) {
                    if (response.response == 1) {
                        var language = "{{ language }}";
                        if (language === "en") {
                            var message = "A specialist will contact you in 24 hrs";
                        } else {
                            var message = "Un spécialiste vous contactera dans les 24 heures";
                        }
                        $("#confirmationContact").html("<p>" + message + "</p>");
						$('#formContact')[0].reset();
						$('#formContact').hide();
                    }
                    else {
                        var language = "{{ language }}";
                        if (language === "en") {
                            var message = "Required fields";
                        } else {
                            var message = "Champs obligatoires";
                        }
                        $("#err").html(message);
                    }
                }
            });
        });

		$("#formBuyers").on('submit', function (e) {
            e.preventDefault();
            var form = $("#formBuyers");
            $.ajax({
                type: "POST",
                url: form.attr("action"),
                data: form.serialize(),
                success: function (response) {
                    console.log(response);
                    if (response.response == 1) {
                        var language = "{{ language }}";
                        if (language === "en") {
                            var link = '<a target="_blank" href="{% static "web/pdf/Buyers booklet EN - LJ Realties - BUYERS BOOKLET 2024.pdf" %}" download>Click here to download buyers booklet</a>';
                        } else {
                            var link = '<a target="_blank" href="{% static "web/pdf/Buyers booklet FR - LJ Immobilier - ORIENTATION EN MATIERE ACHAT IMMOBILIER 2024.pdf" %}" download>Cliquez ici pour télécharger la brochure de l\'acheteur</a>';
                        }
                        $("#confirmationBuyers").html("<p><p>" + link + "</p></p>");
						// $('#formBuyers')[0].reset();
						$('#formBuyers').hide();
                    }
                    else {
                        var language = "{{ language }}";
                        if (language === "en") {
                            var message = "Required fields";
                        } else {
                            var message = "Champs obligatoires";
                        }
                        $("#errBuyers").html(message);
                    }
                }
            });
        });

		$("#formListing").on('submit', function (e) {
            e.preventDefault();
            var form = $("#formListing");
            $.ajax({
                type: "POST",
                url: form.attr("action"),
                data: form.serialize(),
                success: function (response) {
                    if (response.response == 1) {
                        var language = "{{ language }}";
                        if (language === "en") {
                            var link = '<a target="_blank" href="{% static "web/pdf/Listing booklet EN - LJ Realties - HOME SELLING ORIENTATION 2024.pdf" %}" download>Click here to download listing booklet</a>';
                        } else {
                            var link = '<a target="_blank" href="{% static "web/pdf/Listing booklet FR - LJ Immobilier - ORIENTATION EN MATIERE DE VENTE IMMOBILIERE 2024.pdf" %}" download>Cliquez ici pour télécharger la brochure du vendeur</a>';
                        }
                        $("#confirmationListing").html("<p>" + link + "</p>");
						$('#formListing')[0].reset();
						$('#formListing').hide();
                    }
                    else {
                        var language = "{{ language }}";
                        if (language === "en") {
                            var message = "Required fields";
                        } else {
                            var message = "Champs obligatoires";
                        }
                        $("#errListing").html(message);
                    }
                }
            });
        });
    });

</script>
<script>
    $(document).ready(function () {
		$("#formContactBook").on('submit', function (e) {
            e.preventDefault();
            var form = $("#formContactBook");
            $.ajax({
                type: "POST",
                url: form.attr("action"),
                data: form.serialize(),
                success: function (response) {
                    console.log(response);
                    if (response.response == 1) {
                        var language = "{{ language }}";
                        if (language === "en") {
                            var message = "A specialist will contact you in 24 hrs";
                        } else {
                            var message = "Un spécialiste vous contactera dans les 24 heures";
                        }
                        $("#formContactBook").html(message);
						// $('#formContactBook')[0].reset();
						// $('#formContactBook').hide();
                    }
                    else {
                        var language = "{{ language }}";
                        if (language === "en") {
                            var message = "Required fields";
                        } else {
                            var message = "Champs obligatoires";
                        }
                        $("#err").html(message);
                    }
                }
            });
        });
    });
</script>

<!--
<div class="avishome">
    <div class="wrap">
        <h2 class="h2def"><span class="text-span">{{ labels.index.text.nineteen }}</span> <strong>{{ labels.index.text.twenty }}</strong></h2>
        <div class="calculator">
        </div>
    </div>
</div>
-->

{% load static %}{% include 'web/footer_web.html' %}
