.ck.ck-editor {
    font-family: 'Roboto Condensed', sans-serif;
}

.ck p {
    font-family: 'Roboto Condensed', sans-serif;
}

.ck h1{
    font-family: 'Roboto Condensed', sans-serif;
}
.ck h2{
    font-family: 'Roboto Condensed', sans-serif;
}
.ck h3{
    font-family: 'Roboto Condensed', sans-serif;
}
.ck h4{
    font-family: 'Roboto Condensed', sans-serif;
}
.ck h5{
    font-family: 'Roboto Condensed', sans-serif;
}