{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>{% block title %}{% endblock %}LJ Inmobilier blog</title>

        <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.2/css/bulma.min.css">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

        <style>
            nav.navbar {
                height: 6rem !important;
                box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06) !important;
            }
        </style>
    </head>

    <body>
        <section class="section">
            <div class="container">
    <li><a href="{% url 'blog:new_category' %}">Crear Categoria</a></li> 
    <li><a href="{% url 'blog:categories' %}">Listado de Categorias</a></li>
    <li><a href="{% url 'blog:new_post' %}">Crear POST</a></li>
    <li><a href="{% url 'blog:articles' %}">Listado POST</a></li>
    <li><a href="{% url 'blog:list_articles' %}">Listado POST ADMIN</a></li>

                {% block content %}
                {% endblock %}
            </div>
        </section>

        
    </body>
</html>