{% load static %}{% load tags %}{% include 'web/header_web.html' %}
{% block header_page %}
    <link href="{% static 'blog/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'blog/css/styles.css' %}" rel="stylesheet">
    <link href="{% static 'blog/css/styleBlog.css' %}" rel="stylesheet">
{% endblock %}
<div class="home blog wp-embed-responsive">
    <section id="bwp-blog-posts-wrap mt-4">
        <div class="container">
            <h2 class="bwp-hidden-section-heading">Blog posts</h2>
            <div class="bwp-masonry-o-hidden">
                <div id="bwp-masonry-container" class="masonry" role="main">
                    <div class="bwp-blog-col-3-default"></div>
                    {% for article in articles %}
                        <article id="post-2270" class="bwp-masonry-item bwp-blog-col-3 articleprev post-2270 post type-post status-publish format-standard hentry category-formation-en-immobilier">
                            <div class="img">
                                <div class="cattag">{% if language == "en" %}{{ article.category.title_anglaise }}{% else %}{{ article.category.title_francaise }}{% endif %}</div>
                                {% if language == "en" %}<a href="{% url 'blog:post_detail' language=language category_slug=article.category.slug_anglaise slug=article.slug_anglaise %}">{% else %}<a href="{% url 'blog:post_detail' language=language category_slug=article.category.slug_francaise slug=article.slug_francaise %}">{% endif %}
                                    {% if language == "en" %}<img src="{{ article.image_anglaise.url }}" alt="{{ article.title_anglaise }}">{% else %}<img src="{{ article.image_francaise.url }}" alt="{{ article.title_francaise }}">{% endif %}
                                </a>
                            </div>
                            <p class="date">{{ article.formatted_date }}</p>
                            <h3 class=>
                                {% if language == "en" %}<a href="{% url 'blog:post_detail' language=language category_slug=article.category.slug_anglaise slug=article.slug_anglaise %}">{{ article.title_anglaise }}{% else %}<a href="{% url 'blog:post_detail' language=language category_slug=article.category.slug_francaise slug=article.slug_francaise %}">{{ article.title_francaise }}{% endif %}</a>
                            </h3>
                            <div class="bwp-post-excerpt entry-content">
                                <p>{% if language == "en" %}{{ article.content_anglaise|slice:":150"|safe }}{% else %}{{ article.content_anglaise|slice:":150"|safe }}{% endif %}...</p>
                            </div>
                            {% if language == "en" %}<a href="{% url 'blog:post_detail' language=language category_slug=article.category.slug_anglaise slug=article.slug_anglaise %}" class="bouton">Read{% else %}<a href="{% url 'blog:post_detail' language=language category_slug=article.category.slug_francaise slug=article.slug_francaise %}" class="bouton">Lire{% endif %}</a>
                        </article>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
</div>
{% include 'web/footer_web.html' %}