<table id="table_comments" class="display" style="width:100%">
    <thead>
        <tr style="text-align: center !important">
            <th style="text-align: center">Comentario</th>
            <th style="text-align: center">Usuario</th>
            <th style="text-align: center">Fecha del Comentario</th>
            <th style="text-align: center">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for comment in comments %}
            <tr>
                <td style="text-align: center">{{ comment.comment }}</td>
                <td style="text-align: center">{{ comment.user }}</td>
                <td style="text-align: center">{{ comment.created_at }}</td>
                <td style="text-align: center">
                    <a href="#" class="open-modal" data-toggle="modal" data-target="#confirmModal" data-id="{{ comment.id }}" {% if comment.active %} title="Desactivar">
                        <i class="icon-blocked"></i>{% else %}title="Activar"><i class="icon-checkmark-circle2"></i>{% endif %}
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>