{% extends 'users/base.html' %}

{% block title %}Crear Articulo{% endblock %}
{% block head_page %}
    {% load static %}
    <script src="{% static 'app/js/core/libraries/bootstrap.min.js' %}"></script>
    <style>
        .fw-bold{font-weight: bold;}
    </style>
{% endblock %}
{% block content %}
    <div class="page-header">
        <div class="page-header-content">
        <div class="page-title">
            <ul class="breadcrumb">
                <li>
                <h4><span class="no-margin text-bold">ARTICULO BLOG</span></h4>
                </li>
                <div class="heading-elements">
                </div>
            </ul>
        </div>
        </div>
        <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li><a>Blog</a></li>
            <li class="active">Articulos</li>
        </ul>
        </div>
    </div>
    <div class="content">
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "error"%}
                    <div class="alert alert-danger">
                        {{ message }}
                        <ul>
                            {% for error in profile_form.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% else %}
                    <div class="alert alert-success">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h5 class="panel-title"></h5>
                <div class="panel-body">
                    <form method="post" enctype="multipart/form-data" action="">
                        {% csrf_token %}
                        {{form.media}}
                        <fieldset class="content-group">
                            <div class="col-lg-12">
                                {% if form.errors %}
                                    <div class="alert alert-danger">
                                        <ul>
                                            {% for field in form %}
                                                {% for error in field.errors %}
                                                    <li>{{ field.label }}: {{ error }}</li>
                                                {% endfor %}
                                            {% endfor %}
                                            {% for error in form.non_field_errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                                <div role="tabpanel">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>{{ form.category.label_tag }} <span class="form-text text-danger">*</span></label>
                                                {{ form.category }}
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="nav nav-tabs">
                                        <li role="presentation" class="active">
                                            <a href="#francaise" aria-controls="francaise" role="tab" data-toggle="tab">Francaise</a>
                                        </li>
                                        <li role="presentation">
                                            <a href="#anglaise" aria-controls="anglaise" role="tab" data-toggle="tab">Anglaise</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane active" id="francaise">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>{{ form.title_francaise.label_tag }} <span class="form-text text-danger">*</span></label>
                                                        {{ form.title_francaise }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>{{ form.content_francaise.label_tag }} <span class="form-text text-danger">*</span></label>
                                                        {{ form.content_francaise }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <div class="form-group">
                                                        <label>{{ form.image_francaise.label_tag }} <span class="form-text text-danger">*</span></label>
                                                        {{ form.image_francaise }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div role="tabpanel" class="tab-pane" id="anglaise">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>{{ form.title_anglaise.label_tag }} <span class="form-text text-danger">*</span></label>
                                                        {{ form.title_anglaise }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>{{ form.content_anglaise.label_tag }} <span class="form-text text-danger">*</span></label>
                                                        {{ form.content_anglaise }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <div class="form-group">
                                                        <label>{{ form.image_anglaise.label_tag }} <span class="form-text text-danger">*</span></label>
                                                        {{ form.image_anglaise }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn bg-primary-800 btn-labeled btn-xlg"  style="width: auto;"><b><i class="icon-floppy-disk"></i></b><span class="margin-left-20">GUARDAR</span></button>
                                    <a href="{% url 'blog:list_articles' %}" class="btn bg-orange-600 btn-labeled btn-xlg"  style="width: auto;"><b><i class="icon-undo2"></i></b><span class="margin-left-20">VOLVER</span></a>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}