{% extends 'users/base.html' %}

{% block title %}Listado de Articulos{% endblock %}
{% block head_page %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'app/css/datatables/dataTables.css' %}"/>
    <script src="{% static 'app/js/datatables/dataTables.js' %}"></script>
    <script src="{% static 'app/js/core/libraries/bootstrap.min.js' %}"></script>
    <style>
        .fw-bold{font-weight: bold;}
    </style>
{% endblock %}
{% block content %}
    <div class="page-header">
        <div class="page-header-content">
        <div class="page-title">
            <ul class="breadcrumb">
                <li>
                <h4><span class="no-margin text-bold">LISTADO DE ARTICULOS</span></h4>
                </li>
                <div class="heading-elements">
                </div>
            </ul>
        </div>
        </div>
        <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li><a>Blog</a></li>
            <li class="active">Articulos</li>
        </ul>
        </div>
    </div>
    <div class="content">
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "error"%}
                    <div class="alert alert-danger">
                        {{ message }}
                        <ul>
                            {% for error in profile_form.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% else %}
                    <div class="alert alert-success">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %} 
        <div id="alertMessage" class="alert alert-success" style="display: none;">
            <button type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <span id="alertMessageText"></span>
        </div>
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h5 class="panel-title"></h5>
                <div class="panel-body">
                    <div id="articlesList">
                        {% include 'blog/articles_list.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel">Confirmación</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="modalMessage"></p>
                </div>
                <div class="modal-footer">
                    <form id="confirmForm">
                        {% csrf_token %}
                        <input type="hidden" name="record_id" id="recordId">
                        <div class="col-md-6">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn bg-primary-800 btn-xlg" id="confirmButton">Confirmar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'app/js/pages/form_validation.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/js/plugins/forms/tags/tokenfield.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/js/pages/form_tags_input.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/js/core/libraries/jquery_ui/interactions.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/js/plugins/forms/selects/select2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/js/pages/form_select2.js' %}"></script>
    
    <script>
        $(document).ready(function() {
            initializeDataTable();
            var articleId;
            var actionType;
            var dataTable;
            $(document).on('click', '.open-modal', function() {
                event.preventDefault();
                articleId = $(this).data('id');
                var title = $(this).data('title');
                actionType = $(this).data('action');
                $('#modalMessage').html('¿Está seguro de que desea actualizar el registro <strong>' + title + '</strong>?');
                $('#recordId').val(articleId);
                $('#confirmModal').modal('show');
            });
            $('#confirmButton').on('click', function(event) {
                event.preventDefault();
                $.ajax({
                    url: '{% url "blog:update_status_ajax" %}',
                    type: 'POST',
                    data: {
                        'record_id': $('#recordId').val(),
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success: function(response) {
                        var alertDiv = $('#alertMessage');
                        if (response.success) {
                            alertDiv.removeClass('alert-danger').addClass('alert-success');
                            $('#alertMessageText').html(response.message);
                            $('#articlesList').html(response.articles_html);
                        } else {
                            $('#alertMessageText').text(response.message);
                            $('#alertMessage').removeClass('alert-success').addClass('alert-danger');
                        }
                        initializeDataTable();
                        alertDiv.show();
                        $('#confirmModal').modal('hide'); 
                    },
                    error: function(xhr, status, error) {
                        $('#alertMessage').removeClass('alert-success').addClass('alert-danger');
                        $('#alertMessageText').text('Error en la solicitud AJAX.');
                        $('#alertMessage').show();
                        $('#confirmModal').modal('hide'); 
                    }
                });
            });
            function initializeDataTable() {
                if ($.fn.DataTable.isDataTable('#table_users')) {
                    $('#table_users').DataTable().destroy();
                }

                dataTable = new DataTable('#table_users', {
                    columnDefs: [
                        { 
                            width: 200,
                            targets: 0,
                        },
                        { 
                            targets: 2,
                            className: 'dt-body-center'
                        },
                        { 
                            targets: 3,
                            className: 'dt-body-center'
                        },
                    ],
                    fixedColumns: true,
                    scrollCollapse: true,
                    scrollX: true,
                    scrollY: 300,
                    ordering: false
                });
            }
            $('#alertMessage').on('click', '.close', function() {
                $('#alertMessage').hide(); // Oculta el div con el mensaje
            });

            
            $('#confirmModal').on('hidden.bs.modal', function () {
                $('#modalMessage').empty();
                $('#recordId').val('');
            });
        });
    </script>
{% endblock %}