{% extends 'users/base.html' %}

{% block title %}Articles | {% endblock %}
{% block head_page %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'app/css/datatables/dataTables.css' %}"/>
    <script src="{% static 'app/js/datatables/dataTables.js' %}"></script>
    <script src="{% static 'app/js/core/libraries/bootstrap.min.js' %}"></script>
    <style>
        .fw-bold{font-weight: bold;}
    </style>
{% endblock %}
{% block content %}
    <div class="page-header">
        <div class="page-header-content">
        <div class="page-title">
            <ul class="breadcrumb">
                <li>
                <h4><span class="no-margin text-bold">ARTICLES</span></h4>
                </li>
                <div class="heading-elements">
                </div>
            </ul>
        </div>
        </div>
        <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li><a>Blog</a></li>
            <li class="active">Articulos</li>
        </ul>
        </div>
    </div>
    <div class="content">
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "error"%}
                    <div class="alert alert-danger">
                        {{ message }}
                        <ul>
                            {% for error in profile_form.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% else %}
                    <div class="alert alert-success">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %} 
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h5 class="panel-title"></h5>
                <div class="panel-body">
                    <table id="table_users" class="display" style="width:100%">
                        <thead>
                            <tr>
                                <th>Titulo</th>
                                <th>Categoria</th>
                                <th>Imagen</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for article in articles %}
                                <tr>
                                    <td>{{ article.title_anglaise }}</td>
                                    <td >{{ article.category }}</td>
                                    <td><a title="CLICK PARA VER" href="{{ article.image.url }}" target="_blank"><img width="80" height="70" src="{{ article.image.url }}"></a></td>
                                    <td>
                                        <a href="{% url 'blog:post_detail' article.category.slug_francaise article.slug_francaise %}"><i class="icon-new-tab"></i> Ver</a> | 
                                        <a href="{% url 'blog:update_article' article_id=article.id %}"><i class="icon-pencil7"></i> Editar</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Titulo</th>
                                <th>Categoria</th>
                                <th>Imagen</th>
                                <th>Acciones</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'app/js/pages/form_validation.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/js/plugins/forms/tags/tokenfield.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/js/pages/form_tags_input.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/js/core/libraries/jquery_ui/interactions.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/js/plugins/forms/selects/select2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/js/pages/form_select2.js' %}"></script>
    <script>
        $('#table_users').DataTable({
            ordering: false
        });
    </script>
{% endblock %}