{% load tags %}{% load static %}
</body>
<script type="text/javascript" src="{% static 'app/js/core/libraries/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'app/js/core/app.js' %}"></script>
<script type="text/javascript" src="{% static 'app/js/plugins/loaders/pace.min.js' %}"></script>
<script type="text/javascript" src="{% static 'app/js/plugins/loaders/blockui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'app/js/plugins/forms/validation/validate.min.js' %}"></script>
<script type="text/javascript" src="{% static 'app/js/plugins/forms/selects/bootstrap_multiselect.js' %}"></script>
<script type="text/javascript" src="{% static 'app/js/plugins/forms/inputs/touchspin.min.js' %}"></script>
<script type="text/javascript" src="{% static 'app/js/plugins/forms/styling/switch.min.js' %}"></script>
<script type="text/javascript" src="{% static 'app/js/plugins/forms/styling/switchery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'app/js/plugins/forms/styling/uniform.min.js' %}"></script>
</html>