    {% load static %}	
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
	<link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
	<link type="text/css" rel="stylesheet" href="{% static 'app/css/icons/icomoon/styles.css' %}">
	<link type="text/css" rel="stylesheet" href="{% static 'app/css/minified/bootstrap.min.css' %}">
	<link type="text/css" rel="stylesheet" href="{% static 'app/css/minified/core.min.css' %}">
	<link type="text/css" rel="stylesheet" href="{% static 'app/css/minified/components.min.css' %}">
	<link type="text/css" rel="stylesheet" href="{% static 'app/css/minified/colors.min.css' %}">
	<link type="text/css" rel="stylesheet" href="{% static 'app/css/icons/font-awesome/css/font-awesome.min.css' %}">
	<link type="text/css" rel="stylesheet" href="{% static 'app/css/minified/calendario.css' %}">
	<link type="text/css" rel="stylesheet" href="{% static 'app/css/style.css' %}">
	<script type="text/javascript" src="{% static 'app/js/core/libraries/jquery-3.1.1.js' %}"></script>
	<script type="text/javascript" src="{% static 'app/js/pages/components_notifications_pnotify.js' %}"></script>
	<script type="text/javascript" src="{% static 'app/js/plugins/notifications/pnotify.min.js' %}"></script>