{% extends 'users/base.html' %}
{% load tags %}{% load static %}
{% block head_page %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'vendors/datatables/css/dataTables.dataTables.css' %}" />
    <script src="{% static 'vendors/datatables/js/datatables.js' %}"></script>
    <script src="{% static 'app/js/core/libraries/bootstrap.min.js' %}"></script>
{% endblock %}
{% block content %}
    


    <div class="page-header">
        <div class="page-header-content">
        <div class="page-title">
            <ul class="breadcrumb">
                <li>
                <h4><span class="no-margin text-bold">Mensaje</span></h4>
                </li>
                <div class="heading-elements">
                </div>
            </ul>
        </div>
        </div>
        <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li><a href="#">Mensajes</a></li>
            <li class="active">Detalle</li>
        </ul>
        </div>
    </div>
    <div class="content">
        {% if messages %}
                {% for message in messages %}
                    {% if message.tags == "error"%}
                        <div class="alert alert-danger">
                            {{ message }}
                            <ul>
                                {% for error in profile_form.errors %}
                                <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% else %}
                        <div class="alert alert-success">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %} 
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h5 class="panel-title"></h5>
                <div class="panel-body">
                    
                        <fieldset class="content-group">
                            <div class="col-lg-12">
                                <legend class="text-bold"><i class="icon-envelop2 position-left"></i>Mensaje {{ message_detail.sujet }}</legend>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="id_first_name">Nombres:</label>
                                                    <input type="text" class="form-control" id="id_first_name" name="first_name" value="{{message_detail.nom }}" readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="id_last_name">Email:</label>
                                                    <input type="text" class="form-control" id="id_last_name" name="last_name" value="{{message_detail.courriel }}" readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="id_email">Teléfono:</label>
                                                    <input type="email" class="form-control" id="id_email" name="email" value="{{message_detail.telephone }}" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="id_type_user">Dirección:</label>
                                                    <input type="email" class="form-control" id="id_email" name="email" value="{{message_detail.adresse|default_if_none:'' }}" readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="id_type_user">Fecha Radicado:</label>
                                                    <input type="email" class="form-control" id="id_email" name="email" value="{{message_detail.date_creation }}" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="id_password1">Mensaje:</label>
                                                    <textarea class="form-control"  name="" id="" readonly>{{message_detail.message|default_if_none:'' }}</textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <form method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <button type="submit" class="btn bg-primary-800 btn-labeled btn-xlg"  style="width: auto;"><b><i class="icon-undo2"></i></b><span class="margin-left-20">Volver</span></button>
                                </div>
                            </form>
                        </fieldset>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
{% block javascript %}

<script type="text/javascript" src="{% static 'app/js/pages/form_validation.js' %}"></script>
<script type="text/javascript" src="{% static 'app/js/plugins/forms/tags/tokenfield.min.js' %}"></script>
<script type="text/javascript" src="{% static 'app/js/pages/form_tags_input.js' %}"></script>
<script type="text/javascript" src="{% static 'app/js/core/libraries/jquery_ui/interactions.min.js' %}"></script>
<script type="text/javascript" src="{% static 'app/js/plugins/forms/selects/select2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'app/js/pages/form_select2.js' %}"></script>

{% endblock %}