{% extends 'users/base.html' %}
{% block title %}Solicitudes WEB{% endblock %}
{% block head_page %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'app/css/datatables/dataTables.css' %}"/>
    <script src="{% static 'app/js/datatables/dataTables.js' %}"></script>
    <script src="{% static 'app/js/core/libraries/bootstrap.min.js' %}"></script>
    <style>
        .fw-bold{font-weight: bold;}
    </style>
{% endblock %}
    
{% block content %}
    <div class="page-header">
        <div class="page-header-content">
            <div class="page-title">
            <ul class="breadcrumb">
                <li>
                    <h4><span class="no-margin text-bold">Listado de Solicitudes</span></h4>
                </li>
                <div class="heading-elements">
                </div>
            </ul>
            </div>
        </div>
        <div class="breadcrumb-line">
            <ul class="breadcrumb">
                <li>Web</li>
                <li class="active">Solicitudes</li>
            </ul>
        </div>
    </div>
    <div class="content">
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "error"%}
                    <div class="alert alert-danger">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% else %}
                    <div class="alert alert-success">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}   
        <div class="panel panel-flat">
            <div class="panel-heading">
                <div class="panel-body">
                    <table id="table_messages" class="display" style="width:100%">
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Nombres</th>
                                <th>Correo</th>
                                <th>Teléfono</th>
                                <th>Origen</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for message in messages_list %}
                                <tr>
                                    <td>{{ message.date_creation }}</td>
                                    <td class="text-capitalize">{{ message.nom|default_if_none:'' }}</td>
                                    <td class="text-lowercase">{{ message.courriel }}</td>
                                    <td >{{ message.telephone|default_if_none:'' }}</td>
                                    <td >{{ message.sujet }}</td>
                                    <td><a href="{% url 'users:detail_message' message.id %}"><i class="icon-new-tab"></i> Ver</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{% static 'app/js/pages/form_validation.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/js/plugins/forms/tags/tokenfield.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/js/pages/form_tags_input.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/js/core/libraries/jquery_ui/interactions.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/js/plugins/forms/selects/select2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/js/pages/form_select2.js' %}"></script>
    <script>
        $(document).ready( function () {
            new DataTable('#table_messages');
        } );
    </script>
{% endblock %}