{% extends 'users/base.html' %}
{% block title %}Mensajes{% endblock %}
{% block head_page %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'app/css/datatables/dataTables.css' %}"/>
    <script src="{% static 'app/js/datatables/dataTables.js' %}"></script>
    <script src="{% static 'app/js/core/libraries/bootstrap.min.js' %}"></script>
    <style>
        .fw-bold{font-weight: bold;}
    </style>
{% endblock %}
    
{% block content %}
    
    
        <div class="page-header">
            <div class="page-header-content">
              <div class="page-title">
                <ul class="breadcrumb">
                    <li>
                      <h4><span class="no-margin text-bold">Mensajes</span></h4>
                    </li>
                    <div class="heading-elements">
                    </div>
                </ul>
              </div>
            </div>
            <div class="breadcrumb-line">
              <ul class="breadcrumb">
                    <li><a>Mensajes</a></li>
                  <li class="active">Listado</li>
              </ul>
            </div>
        </div>
        <div class="content">
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == "error"%}
                        <div class="alert alert-danger">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% else %}
                        <div class="alert alert-success">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}   
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <div class="panel-body">
                        <table id="table_users" class="display" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Formulario</th>
                                    <th>Nombre</th>
                                    <th>Correo</th>
                                    <th>Teléfono</th>
                                    <th>Asunto</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for message in messages_list %}
                                    <tr>
                                        <td class="{% if not message.read %}fw-bold{% endif %}">{{ message.no_formulaire }}</td>
                                        <td class="text-capitalize {% if not message.read %}fw-bold{% endif %}">{{ message.nom|default_if_none:'' }}</td>
                                        <td class="text-lowercase {% if not message.read %}fw-bold{% endif %}">{{ message.courriel }}</td>
                                        <td class="{% if not message.read %}fw-bold{% endif %}">{{ message.telephone|default_if_none:'' }}</td>
                                        <td class="{% if not message.read %}fw-bold{% endif %}">{{ message.sujet }}</td>
                                        <td class="{% if not message.read %}fw-bold{% endif %}"><a href="{% url 'users:detail_message' message.id %}"><i class="icon-new-tab"></i> Ver</a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Formulario</th>
                                    <th>Nombre</th>
                                    <th>Correo</th>
                                    <th>Teléfono</th>
                                    <th>Asunto</th>
                                    <th>Acciones</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div>
<!-- <i class="icon-accessibility"></i>
<i class="icon-accessibility2"></i>
<i class="icon-add"></i>
<i class="icon-address-book"></i>
<i class="icon-address-book2"></i>
<i class="icon-address-book3"></i>
<i class="icon-add-to-list"></i>
<i class="icon-aid-kit"></i>
<i class="icon-air"></i>
<i class="icon-airplane2"></i>
<i class="icon-airplane3"></i>
<i class="icon-airplane4"></i>
<i class="icon-alarm"></i>
<i class="icon-alarm-add"></i>
<i class="icon-alarm-cancel"></i>
<i class="icon-alarm-check"></i>
<i class="icon-album"></i>
<i class="icon-alert"></i>
<i class="icon-align-bottom"></i>
<i class="icon-align-center-horizontal"></i>
<i class="icon-align-center-vertical"></i>
<i class="icon-align-left"></i>
<i class="icon-alignment-align"></i>
<i class="icon-alignment-aligned-to"></i>
<i class="icon-alignment-unalign"></i>
<i class="icon-align-right"></i>
<i class="icon-align-top"></i>
<i class="icon-ampersand"></i>
<i class="icon-ampersand2"></i>
<i class="icon-anchor"></i>
<i class="icon-android"></i>
<i class="icon-angle"></i>
<i class="icon-apple2"></i>
<i class="icon-archive"></i>
<i class="icon-arrow-down12"></i>
<i class="icon-arrow-down132"></i>
<i class="icon-arrow-down15"></i>
<i class="icon-arrow-down16"></i>
<i class="icon-arrow-down22"></i>
<i class="icon-arrow-down32"></i>
<i class="icon-arrow-down5"></i>
<i class="icon-arrow-down52"></i>
<i class="icon-arrow-down7"></i>
<i class="icon-arrow-down8"></i>
<i class="icon-arrow-down-left2"></i>
<i class="icon-arrow-down-left3"></i>
<i class="icon-arrow-down-left32"></i>
<i class="icon-arrow-down-right2"></i>
<i class="icon-arrow-down-right3"></i>
<i class="icon-arrow-down-right32"></i>
<i class="icon-arrow-left12"></i>
<i class="icon-arrow-left13"></i>
<i class="icon-arrow-left15"></i>
<i class="icon-arrow-left16"></i>
<i class="icon-arrow-left22"></i>
<i class="icon-arrow-left32"></i>
<i class="icon-arrow-left5"></i>
<i class="icon-arrow-left52"></i>
<i class="icon-arrow-left7"></i>
<i class="icon-arrow-left8"></i>
<i class="icon-arrow-resize7"></i>
<i class="icon-arrow-resize8"></i>
<i class="icon-arrow-right13"></i>
<i class="icon-arrow-right14"></i>
<i class="icon-arrow-right15"></i>
<i class="icon-arrow-right16"></i>
<i class="icon-arrow-right22"></i>
<i class="icon-arrow-right32"></i>
<i class="icon-arrow-right5"></i>
<i class="icon-arrow-right6"></i>
<i class="icon-arrow-right7"></i>
<i class="icon-arrow-right8"></i>
<i class="icon-arrow-small-down"></i>
<i class="icon-arrow-small-left"></i>
<i class="icon-arrow-small-right"></i>
<i class="icon-arrow-small-up"></i>
<i class="icon-arrow-up12"></i>
<i class="icon-arrow-up13"></i>
<i class="icon-arrow-up15"></i>
<i class="icon-arrow-up16"></i>
<i class="icon-arrow-up22"></i>
<i class="icon-arrow-up32"></i>
<i class="icon-arrow-up5"></i>
<i class="icon-arrow-up52"></i>
<i class="icon-arrow-up7"></i>
<i class="icon-arrow-up8"></i>
<i class="icon-arrow-up-left2"></i>
<i class="icon-arrow-up-left3"></i>
<i class="icon-arrow-up-left32"></i>
<i class="icon-arrow-up-right2"></i>
<i class="icon-arrow-up-right3"></i>
<i class="icon-arrow-up-right32"></i>
<i class="icon-atom"></i>
<i class="icon-atom2"></i>
<i class="icon-attachment"></i>
<i class="icon-attachment2"></i>
<i class="icon-backspace"></i>
<i class="icon-backspace2"></i>
<i class="icon-backward"></i>
<i class="icon-backward2"></i>
<i class="icon-bag"></i>
<i class="icon-balance"></i>
<i class="icon-barcode2"></i>
<i class="icon-bars-alt"></i>
<i class="icon-basket"></i>
<i class="icon-battery-0"></i>
<i class="icon-battery-6"></i>
<i class="icon-battery-charging"></i>
<i class="icon-bed2"></i>
<i class="icon-bell2"></i>
<i class="icon-bell3"></i>
<i class="icon-bell-check"></i>
<i class="icon-bell-cross"></i>
<i class="icon-bell-minus"></i>
<i class="icon-bell-plus"></i>
<i class="icon-bike"></i>
<i class="icon-bin"></i>
<i class="icon-bin2"></i>
<i class="icon-blocked"></i>
<i class="icon-blog"></i>
<i class="icon-blogger"></i>
<i class="icon-blogger2"></i>
<i class="icon-boat"></i>
<i class="icon-bold2"></i>
<i class="icon-book"></i>
<i class="icon-book2"></i>
<i class="icon-book3"></i>
<i class="icon-bookmark"></i>
<i class="icon-bookmark2"></i>
<i class="icon-bookmark3"></i>
<i class="icon-bookmark4"></i>
<i class="icon-bookmarks"></i>
<i class="icon-book-play"></i>
<i class="icon-books"></i>
<i class="icon-bordered "></i>
<i class="icon-bowtie"></i>
<i class="icon-box"></i>
<i class="icon-box-add"></i>
<i class="icon-box-remove"></i>
<i class="icon-brain"></i>
<i class="icon-briefcase"></i>
<i class="icon-briefcase3"></i>
<i class="icon-browser"></i>
<i class="icon-brush"></i>
<i class="icon-bubble"></i>
<i class="icon-bubble2"></i>
<i class="icon-bubble6"></i>
<i class="icon-bubble7"></i>
<i class="icon-bubble8"></i>
<i class="icon-bubble9"></i>
<i class="icon-bubble-dots3"></i>
<i class="icon-bubble-dots4"></i>
<i class="icon-bubble-lines3"></i>
<i class="icon-bubble-lines4"></i>
<i class="icon-bubble-notification"></i>
<i class="icon-bubbles"></i>
<i class="icon-bubbles10"></i>
<i class="icon-bubbles2"></i>
<i class="icon-bubbles3"></i>
<i class="icon-bubbles4"></i>
<i class="icon-bubbles5"></i>
<i class="icon-bubbles6"></i>
<i class="icon-bubbles7"></i>
<i class="icon-bubbles8"></i>
<i class="icon-bubbles9"></i>
<i class="icon-bucket"></i>
<i class="icon-bug2"></i>
<i class="icon-bus"></i>
<i class="icon-cabinet"></i>
<i class="icon-calculator"></i>
<i class="icon-calculator2"></i>
<i class="icon-calculator3"></i>
<i class="icon-calculator4"></i>
<i class="icon-calendar"></i>
<i class="icon-calendar2"></i>
<i class="icon-calendar22"></i>
<i class="icon-calendar3"></i>
<i class="icon-calendar5"></i>
<i class="icon-calendar52"></i>
<i class="icon-camera"></i>
<i class="icon-cancel-circle2"></i>
<i class="icon-cancel-square"></i>
<i class="icon-cancel-square2"></i>
<i class="icon-car"></i>
<i class="icon-car2"></i>
<i class="icon-cart"></i>
<i class="icon-cart2"></i>
<i class="icon-cart4"></i>
<i class="icon-cart5"></i>
<i class="icon-cart-add"></i>
<i class="icon-cart-add2"></i>
<i class="icon-cart-remove"></i>
<i class="icon-cash"></i>
<i class="icon-cash2"></i>
<i class="icon-cash3"></i>
<i class="icon-cash4"></i>
<i class="icon-cc"></i>
<i class="icon-certificate"></i>
<i class="icon-chair"></i>
<i class="icon-chart"></i>
<i class="icon-check"></i>
<i class="icon-check2"></i>
<i class="icon-checkbox-checked"></i>
<i class="icon-checkbox-checked2"></i>
<i class="icon-checkbox-partial"></i>
<i class="icon-checkbox-partial2"></i>
<i class="icon-checkbox-unchecked"></i>
<i class="icon-checkbox-unchecked2"></i>
<i class="icon-checkmark"></i>
<i class="icon-checkmark2"></i>
<i class="icon-checkmark3"></i>
<i class="icon-checkmark4"></i>
<i class="icon-checkmark5"></i>
<i class="icon-checkmark-circle"></i>
<i class="icon-checkmark-circle2"></i>
<i class="icon-chess"></i>
<i class="icon-chess-king"></i>
<i class="icon-chess-queen"></i>
<i class="icon-chevron-down"></i>
<i class="icon-chevron-left"></i>
<i class="icon-chevron-right"></i>
<i class="icon-chevron-up"></i>
<i class="icon-chip"></i>
<i class="icon-chopper"></i>
<i class="icon-chrome"></i>
<i class="icon-circle"></i>
<i class="icon-circle2"></i>
<i class="icon-circle-code"></i>
<i class="icon-circle-css"></i>
<i class="icon-circle-down2"></i>
<i class="icon-circle-left2"></i>
<i class="icon-circle-right2"></i>
<i class="icon-circles"></i>
<i class="icon-circles2"></i>
<i class="icon-circle-small"></i>
<i class="icon-circle-up2"></i>
<i class="icon-city"></i>
<i class="icon-clapboard"></i>
<i class="icon-clapboard-play"></i>
<i class="icon-clear-formatting"></i>
<i class="icon-clipboard"></i>
<i class="icon-clipboard2"></i>
<i class="icon-clipboard3"></i>
<i class="icon-clipboard4"></i>
<i class="icon-clipboard5"></i>
<i class="icon-clipboard6"></i>
<i class="icon-clippy"></i>
<i class="icon-close2"></i>
<i class="icon-cloud"></i>
<i class="icon-cloud2"></i>
<i class="icon-cloud-check"></i>
<i class="icon-cloud-check2"></i>
<i class="icon-cloud-download"></i>
<i class="icon-cloud-download2"></i>
<i class="icon-cloud-upload"></i>
<i class="icon-cloud-upload2"></i>
<i class="icon-code"></i>
<i class="icon-codepen"></i>
<i class="icon-coffee"></i>
<i class="icon-cog"></i>
<i class="icon-cog2"></i>
<i class="icon-cog3"></i>
<i class="icon-cog4"></i>
<i class="icon-cog5"></i>
<i class="icon-cog52"></i>
<i class="icon-cog6"></i>
<i class="icon-cog7"></i>
<i class="icon-cogs"></i>
<i class="icon-coin-dollar"></i>
<i class="icon-coin-euro"></i>
<i class="icon-coin-pound"></i>
<i class="icon-coins"></i>
<i class="icon-coin-yen"></i>
<i class="icon-collaboration"></i>
<i class="icon-color-clear"></i>
<i class="icon-color-sampler"></i>
<i class="icon-command"></i>
<i class="icon-comment"></i>
<i class="icon-comment-discussion"></i>
<i class="icon-comments"></i>
<i class="icon-compass4"></i>
<i class="icon-compose"></i>
<i class="icon-connection"></i>
<i class="icon-construction"></i>
<i class="icon-contrast"></i>
<i class="icon-copy"></i>
<i class="icon-copy2"></i>
<i class="icon-copy3"></i>
<i class="icon-copy4"></i>
<i class="icon-credit-card"></i>
<i class="icon-credit-card2"></i>
<i class="icon-crop"></i>
<i class="icon-crop2"></i>
<i class="icon-cross"></i>
<i class="icon-cross2"></i>
<i class="icon-cross3"></i>
<i class="icon-crown"></i>
<i class="icon-css3"></i>
<i class="icon-ctrl"></i>
<i class="icon-cube"></i>
<i class="icon-cube2"></i>
<i class="icon-cube3"></i>
<i class="icon-cube4"></i>
<i class="icon-cup2"></i>
<i class="icon-cursor"></i>
<i class="icon-cursor2"></i>
<i class="icon-dash"></i>
<i class="icon-database"></i>
<i class="icon-database2"></i>
<i class="icon-database4"></i>
<i class="icon-database-add"></i>
<i class="icon-database-arrow"></i>
<i class="icon-database-check"></i>
<i class="icon-database-diff"></i>
<i class="icon-database-edit2"></i>
<i class="icon-database-export"></i>
<i class="icon-database-insert"></i>
<i class="icon-database-menu"></i>
<i class="icon-database-refresh"></i>
<i class="icon-database-remove"></i>
<i class="icon-database-time2"></i>
<i class="icon-database-upload"></i>
<i class="icon-delicious"></i>
<i class="icon-design"></i>
<i class="icon-deviantart"></i>
<i class="icon-deviantart2"></i>
<i class="icon-diamond"></i>
<i class="icon-diamond3"></i>
<i class="icon-diamond4"></i>
<i class="icon-dice"></i>
<i class="icon-diff"></i>
<i class="icon-diff-added"></i>
<i class="icon-diff-ignored"></i>
<i class="icon-diff-modified"></i>
<i class="icon-diff-removed"></i>
<i class="icon-diff-renamed"></i>
<i class="icon-direction"></i>
<i class="icon-display"></i>
<i class="icon-display4"></i>
<i class="icon-dots"></i>
<i class="icon-download"></i>
<i class="icon-download10"></i>
<i class="icon-download4"></i>
<i class="icon-download7"></i>
<i class="icon-drag-left"></i>
<i class="icon-drag-left-right"></i>
<i class="icon-drag-right"></i>
<i class="icon-drawer"></i>
<i class="icon-drawer2"></i>
<i class="icon-drawer3"></i>
<i class="icon-drawer-in"></i>
<i class="icon-drawer-out"></i>
<i class="icon-dribbble"></i>
<i class="icon-dribbble2"></i>
<i class="icon-dribbble3"></i>
<i class="icon-drive"></i>
<i class="icon-dropbox"></i>
<i class="icon-droplet"></i>
<i class="icon-droplet2"></i>
<i class="icon-droplets"></i>
<i class="icon-earth"></i>
<i class="icon-eject"></i>
<i class="icon-embed"></i>
<i class="icon-embed2"></i>
<i class="icon-enlarge"></i>
<i class="icon-enlarge3"></i>
<i class="icon-enlarge5"></i>
<i class="icon-enlarge6"></i>
<i class="icon-enlarge7"></i>
<i class="icon-enter"></i>
<i class="icon-enter2"></i>
<i class="icon-enter3"></i>
<i class="icon-enter5"></i>
<i class="icon-enter6"></i>
<i class="icon-envelop"></i>
<i class="icon-envelop2"></i>
<i class="icon-envelop3"></i>
<i class="icon-envelop4"></i>
<i class="icon-envelop5"></i>
<i class="icon-envelope"></i>
<i class="icon-equalizer"></i>
<i class="icon-equalizer2"></i>
<i class="icon-equalizer3"></i>
<i class="icon-equalizer4"></i>
<i class="icon-eraser"></i>
<i class="icon-eraser2"></i>
<i class="icon-eraser3"></i>
<i class="icon-esc"></i>
<i class="icon-exclamation"></i>
<i class="icon-exit"></i>
<i class="icon-exit2"></i>
<i class="icon-exit3"></i>
<i class="icon-eye"></i>
<i class="icon-eye2"></i>
<i class="icon-eye4"></i>
<i class="icon-eye8"></i>
<i class="icon-eye-blocked"></i>
<i class="icon-eye-blocked2"></i>
<i class="icon-eyedropper"></i>
<i class="icon-eyedropper2"></i>
<i class="icon-eyedropper3"></i>
<i class="icon-eye-minus"></i>
<i class="icon-eye-plus"></i>
<i class="icon-facebook"></i>
<i class="icon-facebook2"></i>
<i class="icon-fan"></i>
<i class="icon-feed"></i>
<i class="icon-feed2"></i>
<i class="icon-feed3"></i>
<i class="icon-fence"></i>
<i class="icon-file-check"></i>
<i class="icon-file-check2"></i>
<i class="icon-file-css"></i>
<i class="icon-file-css2"></i>
<i class="icon-file-download"></i>
<i class="icon-file-download2"></i>
<i class="icon-file-empty"></i>
<i class="icon-file-empty2"></i>
<i class="icon-file-excel"></i>
<i class="icon-file-eye"></i>
<i class="icon-file-eye2"></i>
<i class="icon-file-locked"></i>
<i class="icon-file-locked2"></i>
<i class="icon-file-media"></i>
<i class="icon-file-minus"></i>
<i class="icon-file-minus2"></i>
<i class="icon-file-music"></i>
<i class="icon-file-music2"></i>
<i class="icon-file-openoffice"></i>
<i class="icon-file-pdf"></i>
<i class="icon-file-picture"></i>
<i class="icon-file-picture2"></i>
<i class="icon-file-play"></i>
<i class="icon-file-play2"></i>
<i class="icon-file-plus"></i>
<i class="icon-file-plus2"></i>
<i class="icon-file-presentation"></i>
<i class="icon-file-presentation2"></i>
<i class="icon-files-empty"></i>
<i class="icon-files-empty2"></i>
<i class="icon-file-spreadsheet"></i>
<i class="icon-file-spreadsheet2"></i>
<i class="icon-file-stats"></i>
<i class="icon-file-stats2"></i>
<i class="icon-file-text"></i>
<i class="icon-file-text2"></i>
<i class="icon-file-text3"></i>
<i class="icon-file-upload"></i>
<i class="icon-file-upload2"></i>
<i class="icon-file-video"></i>
<i class="icon-file-video2"></i>
<i class="icon-file-word"></i>
<i class="icon-file-xml"></i>
<i class="icon-file-xml2"></i>
<i class="icon-file-zip"></i>
<i class="icon-file-zip2"></i>
<i class="icon-film"></i>
<i class="icon-film2"></i>
<i class="icon-film3"></i>
<i class="icon-film4"></i>
<i class="icon-filter3"></i>
<i class="icon-filter4"></i>
<i class="icon-finder"></i>
<i class="icon-finish"></i>
<i class="icon-fire"></i>
<i class="icon-fire2"></i>
<i class="icon-firefox"></i>
<i class="icon-first"></i>
<i class="icon-flag3"></i>
<i class="icon-flag4"></i>
<i class="icon-flag7"></i>
<i class="icon-flag8"></i>
<i class="icon-flattr"></i>
<i class="icon-flickr"></i>
<i class="icon-flickr2"></i>
<i class="icon-flickr3"></i>
<i class="icon-flip-horizontal2"></i>
<i class="icon-flip-vertical2"></i>
<i class="icon-flip-vertical3"></i>
<i class="icon-flip-vertical4"></i>
<i class="icon-floppy-disk"></i>
<i class="icon-floppy-disks"></i>
<i class="icon-fold"></i>
<i class="icon-folder"></i>
<i class="icon-folder2"></i>
<i class="icon-folder3"></i>
<i class="icon-folder4"></i>
<i class="icon-folder5"></i>
<i class="icon-folder6"></i>
<i class="icon-folder-check"></i>
<i class="icon-folder-download"></i>
<i class="icon-folder-download2"></i>
<i class="icon-folder-download3"></i>
<i class="icon-folder-heart"></i>
<i class="icon-folder-minus"></i>
<i class="icon-folder-minus2"></i>
<i class="icon-folder-minus3"></i>
<i class="icon-folder-minus4"></i>
<i class="icon-folder-open"></i>
<i class="icon-folder-open2"></i>
<i class="icon-folder-open3"></i>
<i class="icon-folder-plus"></i>
<i class="icon-folder-plus2"></i>
<i class="icon-folder-plus3"></i>
<i class="icon-folder-plus4"></i>
<i class="icon-folder-remove"></i>
<i class="icon-folder-search"></i>
<i class="icon-folder-upload"></i>
<i class="icon-folder-upload2"></i>
<i class="icon-folder-upload3"></i>
<i class="icon-font"></i>
<i class="icon-font-size"></i>
<i class="icon-font-size2"></i>
<i class="icon-footprint"></i>
<i class="icon-forrst"></i>
<i class="icon-forrst2"></i>
<i class="icon-forward"></i>
<i class="icon-forward2"></i>
<i class="icon-forward3"></i>
<i class="icon-foursquare"></i>
<i class="icon-furniture"></i>
<i class="icon-gallery"></i>
<i class="icon-gas"></i>
<i class="icon-gear"></i>
<i class="icon-gift"></i>
<i class="icon-git"></i>
<i class="icon-git-branch"></i>
<i class="icon-git-commit"></i>
<i class="icon-git-compare"></i>
<i class="icon-github"></i>
<i class="icon-github4"></i>
<i class="icon-github5"></i>
<i class="icon-git-merge"></i>
<i class="icon-git-pull-request"></i>
<i class="icon-glasses-3d2"></i>
<i class="icon-google"></i>
<i class="icon-google-drive"></i>
<i class="icon-google-plus"></i>
<i class="icon-google-plus2"></i>
<i class="icon-googleplus5"></i>
<i class="icon-grab"></i>
<i class="icon-gradient"></i>
<i class="icon-graduation"></i>
<i class="icon-graduation2"></i>
<i class="icon-graph"></i>
<i class="icon-grid"></i>
<i class="icon-grid2"></i>
<i class="icon-grid3"></i>
<i class="icon-grid4"></i>
<i class="icon-grid5"></i>
<i class="icon-grid52"></i>
<i class="icon-grid6"></i>
<i class="icon-grid7"></i>
<i class="icon-grid-alt"></i>
<i class="icon-hammer"></i>
<i class="icon-hammer2"></i>
<i class="icon-hammer-wrench"></i>
<i class="icon-hand"></i>
<i class="icon-hash"></i>
<i class="icon-hat"></i>
<i class="icon-headphones"></i>
<i class="icon-headset"></i>
<i class="icon-heart5"></i>
<i class="icon-heart6"></i>
<i class="icon-heart-broken2"></i>
<i class="icon-height"></i>
<i class="icon-height2"></i>
<i class="icon-help"></i>
<i class="icon-highlight"></i>
<i class="icon-history"></i>
<i class="icon-home"></i>
<i class="icon-home2"></i>
<i class="icon-home4"></i>
<i class="icon-home5"></i>
<i class="icon-home7"></i>
<i class="icon-home8"></i>
<i class="icon-home9"></i>
<i class="icon-hour-glass"></i>
<i class="icon-hour-glass2"></i>
<i class="icon-hour-glass3"></i>
<i class="icon-html5"></i>
<i class="icon-html52"></i>
<i class="icon-hyperlink"></i>
<i class="icon-IE"></i>
<i class="icon-image2"></i>
<i class="icon-image3"></i>
<i class="icon-image4"></i>
<i class="icon-image5"></i>
<i class="icon-image-compare"></i>
<i class="icon-images2"></i>
<i class="icon-images3"></i>
<i class="icon-import"></i>
<i class="icon-inbox"></i>
<i class="icon-inbox-alt"></i>
<i class="icon-indent-decrease"></i>
<i class="icon-indent-decrease2"></i>
<i class="icon-indent-increase"></i>
<i class="icon-indent-increase2"></i>
<i class="icon-infinite"></i>
<i class="icon-infinite-square"></i>
<i class="icon-info22"></i>
<i class="icon-info3"></i>
<i class="icon-insert-template"></i>
<i class="icon-instagram"></i>
<i class="icon-ipad"></i>
<i class="icon-iphone"></i>
<i class="icon-italic2"></i>
<i class="icon-joomla"></i>
<i class="icon-key"></i>
<i class="icon-keyboard"></i>
<i class="icon-lab"></i>
<i class="icon-ladder"></i>
<i class="icon-lan"></i>
<i class="icon-lan2"></i>
<i class="icon-lan3"></i>
<i class="icon-lanyrd"></i>
<i class="icon-laptop"></i>
<i class="icon-lasso2"></i>
<i class="icon-last"></i>
<i class="icon-lastfm"></i>
<i class="icon-lastfm2"></i>
<i class="icon-law"></i>
<i class="icon-library2"></i>
<i class="icon-libreoffice"></i>
<i class="icon-lifebuoy"></i>
<i class="icon-ligature"></i>
<i class="icon-link"></i>
<i class="icon-link2"></i>
<i class="icon-linkedin"></i>
<i class="icon-linkedin2"></i>
<i class="icon-list"></i>
<i class="icon-list2"></i>
<i class="icon-list3"></i>
<i class="icon-list-numbered"></i>
<i class="icon-list-ordered"></i>
<i class="icon-list-unordered"></i>
<i class="icon-location3"></i>
<i class="icon-location4"></i>
<i class="icon-lock"></i>
<i class="icon-lock2"></i>
<i class="icon-lock4"></i>
<i class="icon-lock5"></i>
<i class="icon-loop"></i>
<i class="icon-loop3"></i>
<i class="icon-loop4"></i>
<i class="icon-ltr"></i>
<i class="icon-ltr2"></i>
<i class="icon-magazine"></i>
<i class="icon-magic-wand"></i>
<i class="icon-magic-wand2"></i>
<i class="icon-mail5"></i>
<i class="icon-mailbox"></i>
<i class="icon-mail-read"></i>
<i class="icon-make-group"></i>
<i class="icon-man"></i>
<i class="icon-man-woman"></i>
<i class="icon-map"></i>
<i class="icon-map4"></i>
<i class="icon-map5"></i>
<i class="icon-markup"></i>
<i class="icon-medal"></i>
<i class="icon-medal2"></i>
<i class="icon-medal-first"></i>
<i class="icon-medal-second"></i>
<i class="icon-medal-star"></i>
<i class="icon-medal-third"></i>
<i class="icon-media"></i>
<i class="icon-megaphone"></i>
<i class="icon-mention"></i>
<i class="icon-menu"></i>
<i class="icon-menu10"></i>
<i class="icon-menu2"></i>
<i class="icon-menu3"></i>
<i class="icon-menu4"></i>
<i class="icon-menu5"></i>
<i class="icon-menu6"></i>
<i class="icon-menu62"></i>
<i class="icon-menu7"></i>
<i class="icon-menu8"></i>
<i class="icon-menu9"></i>
<i class="icon-menu-close"></i>
<i class="icon-menu-close2"></i>
<i class="icon-menu-open"></i>
<i class="icon-menu-open2"></i>
<i class="icon-merge"></i>
<i class="icon-meter2"></i>
<i class="icon-meter-fast"></i>
<i class="icon-meter-slow"></i>
<i class="icon-mic2"></i>
<i class="icon-mic-off2"></i>
<i class="icon-microscope"></i>
<i class="icon-minus2"></i>
<i class="icon-minus3"></i>
<i class="icon-minus-circle2"></i>
<i class="icon-mirror"></i>
<i class="icon-mobile"></i>
<i class="icon-mobile2"></i>
<i class="icon-mobile3"></i>
<i class="icon-more"></i>
<i class="icon-more2"></i>
<i class="icon-mouse"></i>
<i class="icon-mouse-left"></i>
<i class="icon-mouse-right"></i>
<i class="icon-move"></i>
<i class="icon-move-alt1"></i>
<i class="icon-move-down"></i>
<i class="icon-move-down2"></i>
<i class="icon-move-horizontal"></i>
<i class="icon-move-left"></i>
<i class="icon-move-right"></i>
<i class="icon-move-up"></i>
<i class="icon-move-up2"></i>
<i class="icon-move-vertical"></i>
<i class="icon-movie"></i>
<i class="icon-multitouch"></i>
<i class="icon-music"></i>
<i class="icon-mustache"></i>
<i class="icon-nbsp"></i>
<i class="icon-new"></i>
<i class="icon-newspaper"></i>
<i class="icon-newspaper2"></i>
<i class="icon-new-tab"></i>
<i class="icon-new-tab2"></i>
<i class="icon-next"></i>
<i class="icon-next2"></i>
<i class="icon-notebook"></i>
<i class="icon-notification2"></i>
<i class="icon-office"></i>
<i class="icon-omega"></i>
<i class="icon-onedrive"></i>
<i class="icon-opera"></i>
<i class="icon-opt"></i>
<i class="icon-package"></i>
<i class="icon-pagebreak"></i>
<i class="icon-page-break"></i>
<i class="icon-page-break2"></i>
<i class="icon-paint-format"></i>
<i class="icon-paperplane"></i>
<i class="icon-paragraph-center2"></i>
<i class="icon-paragraph-center3"></i>
<i class="icon-paragraph-justify2"></i>
<i class="icon-paragraph-justify3"></i>
<i class="icon-paragraph-left2"></i>
<i class="icon-paragraph-left3"></i>
<i class="icon-paragraph-right2"></i>
<i class="icon-paragraph-right3"></i>
<i class="icon-paste"></i>
<i class="icon-paste2"></i>
<i class="icon-paste3"></i>
<i class="icon-paste4"></i>
<i class="icon-pause"></i>
<i class="icon-pause2"></i>
<i class="icon-paw"></i>
<i class="icon-paypal"></i>
<i class="icon-paypal2"></i>
<i class="icon-pen"></i>
<i class="icon-pen2"></i>
<i class="icon-pen6"></i>
<i class="icon-pencil"></i>
<i class="icon-pencil3"></i>
<i class="icon-pencil4"></i>
<i class="icon-pencil5"></i>
<i class="icon-pencil6"></i>
<i class="icon-pencil7"></i>
<i class="icon-pencil-ruler"></i>
<i class="icon-pen-minus"></i>
<i class="icon-pen-plus"></i>
<i class="icon-people"></i>
<i class="icon-percent"></i>
<i class="icon-person"></i>
<i class="icon-phone"></i>
<i class="icon-phone2"></i>
<i class="icon-phone-hang-up"></i>
<i class="icon-phone-incoming"></i>
<i class="icon-phone-minus"></i>
<i class="icon-phone-minus2"></i>
<i class="icon-phone-outgoing"></i>
<i class="icon-phone-plus"></i>
<i class="icon-phone-plus2"></i>
<i class="icon-phone-slash"></i>
<i class="icon-phone-wave"></i>
<i class="icon-piano"></i>
<i class="icon-picassa"></i>
<i class="icon-picassa2"></i>
<i class="icon-pie5"></i>
<i class="icon-pie-chart"></i>
<i class="icon-pie-chart2"></i>
<i class="icon-pie-chart3"></i>
<i class="icon-pie-chart4"></i>
<i class="icon-pie-chart5"></i>
<i class="icon-pie-chart6"></i>
<i class="icon-pie-chart7"></i>
<i class="icon-pie-chart8"></i>
<i class="icon-piggy-bank"></i>
<i class="icon-pilcrow"></i>
<i class="icon-pin"></i>
<i class="icon-pin-alt"></i>
<i class="icon-pinterest2"></i>
<i class="icon-pipe"></i>
<i class="icon-play"></i>
<i class="icon-play3"></i>
<i class="icon-play4"></i>
<i class="icon-playlist"></i>
<i class="icon-playlist-add"></i>
<i class="icon-plus2"></i>
<i class="icon-plus22"></i>
<i class="icon-plus3"></i>
<i class="icon-plus-circle2"></i>
<i class="icon-podium"></i>
<i class="icon-point-down"></i>
<i class="icon-pointer"></i>
<i class="icon-point-left"></i>
<i class="icon-point-right"></i>
<i class="icon-point-up"></i>
<i class="icon-popout"></i>
<i class="icon-portfolio"></i>
<i class="icon-power2"></i>
<i class="icon-power3"></i>
<i class="icon-power-cord"></i>
<i class="icon-presentation"></i>
<i class="icon-previous"></i>
<i class="icon-previous2"></i>
<i class="icon-price-tag"></i>
<i class="icon-price-tag2"></i>
<i class="icon-price-tag3"></i>
<i class="icon-price-tags"></i>
<i class="icon-price-tags2"></i>
<i class="icon-primitive-dot"></i>
<i class="icon-primitive-square"></i>
<i class="icon-printer"></i>
<i class="icon-printer2"></i>
<i class="icon-printer4"></i>
<i class="icon-profile"></i>
<i class="icon-pulse2"></i>
<i class="icon-pushpin"></i>
<i class="icon-puzzle"></i>
<i class="icon-puzzle2"></i>
<i class="icon-puzzle3"></i>
<i class="icon-puzzle4"></i>
<i class="icon-pyramid"></i>
<i class="icon-pyramid2"></i>
<i class="icon-qrcode"></i>
<i class="icon-question3"></i>
<i class="icon-question4"></i>
<i class="icon-question6"></i>
<i class="icon-question7"></i>
<i class="icon-quill2"></i>
<i class="icon-quill4"></i>
<i class="icon-quotes-left"></i>
<i class="icon-quotes-left2"></i>
<i class="icon-quotes-right"></i>
<i class="icon-quotes-right2"></i>
<i class="icon-racing"></i>
<i class="icon-radio"></i>
<i class="icon-radio-checked"></i>
<i class="icon-radio-checked2"></i>
<i class="icon-radio-unchecked"></i>
<i class="icon-rating"></i>
<i class="icon-rating2"></i>
<i class="icon-rating3"></i>
<i class="icon-reading"></i>
<i class="icon-reddit"></i>
<i class="icon-redo"></i>
<i class="icon-redo2"></i>
<i class="icon-regexp"></i>
<i class="icon-regexp2"></i>
<i class="icon-reload-alt"></i>
<i class="icon-reminder"></i>
<i class="icon-reply"></i>
<i class="icon-reply-all"></i>
<i class="icon-repo-forked"></i>
<i class="icon-reset"></i>
<i class="icon-road"></i>
<i class="icon-rocket"></i>
<i class="icon-rotate-ccw"></i>
<i class="icon-rotate-ccw2"></i>
<i class="icon-rotate-ccw3"></i>
<i class="icon-rotate-cw"></i>
<i class="icon-rotate-cw2"></i>
<i class="icon-rotate-cw3"></i>
<i class="icon-rtl"></i>
<i class="icon-rtl2"></i>
<i class="icon-rulers"></i>
<i class="icon-safari"></i>
<i class="icon-safe"></i>
<i class="icon-satellite-dish2"></i>
<i class="icon-scissors"></i>
<i class="icon-screen3"></i>
<i class="icon-screen-full"></i>
<i class="icon-screen-normal"></i>
<i class="icon-search4"></i>
<i class="icon-section"></i>
<i class="icon-select2"></i>
<i class="icon-server"></i>
<i class="icon-seven-segment-0"></i>
<i class="icon-seven-segment-1"></i>
<i class="icon-seven-segment-2"></i>
<i class="icon-seven-segment-3"></i>
<i class="icon-seven-segment-4"></i>
<i class="icon-seven-segment-5"></i>
<i class="icon-seven-segment-6"></i>
<i class="icon-seven-segment-7"></i>
<i class="icon-seven-segment-8"></i>
<i class="icon-seven-segment-9"></i>
<i class="icon-share"></i>
<i class="icon-share2"></i>
<i class="icon-share3"></i>
<i class="icon-share4"></i>
<i class="icon-shear"></i>
<i class="icon-shield2"></i>
<i class="icon-shield-check"></i>
<i class="icon-shield-notice"></i>
<i class="icon-shift"></i>
<i class="icon-ship"></i>
<i class="icon-shredder"></i>
<i class="icon-shrink"></i>
<i class="icon-shrink3"></i>
<i class="icon-shrink5"></i>
<i class="icon-shrink6"></i>
<i class="icon-shrink7"></i>
<i class="icon-shuffle"></i>
<i class="icon-shutter"></i>
<i class="icon-sigma"></i>
<i class="icon-skype"></i>
<i class="icon-snowflake"></i>
<i class="icon-sort"></i>
<i class="icon-sort-alpha-asc"></i>
<i class="icon-sort-alpha-desc"></i>
<i class="icon-sort-amount-asc"></i>
<i class="icon-sort-amount-desc"></i>
<i class="icon-sort-numberic-desc"></i>
<i class="icon-sort-numeric-asc"></i>
<i class="icon-sort-time-asc"></i>
<i class="icon-sort-time-desc"></i>
<i class="icon-soundcloud"></i>
<i class="icon-soundcloud2"></i>
<i class="icon-spam"></i>
<i class="icon-speaker-left"></i>
<i class="icon-speaker-right"></i>
<i class="icon-speakers"></i>
<i class="icon-spell-check"></i>
<i class="icon-spell-check2"></i>
<i class="icon-sphere"></i>
<i class="icon-sphere3"></i>
<i class="icon-spinner"></i>
<i class="icon-spinner10"></i>
<i class="icon-spinner11"></i>
<i class="icon-spinner2"></i>
<i class="icon-spinner3"></i>
<i class="icon-spinner4"></i>
<i class="icon-spinner6"></i>
<i class="icon-spinner9"></i>
<i class="icon-split"></i>
<i class="icon-spotlight2"></i>
<i class="icon-spray"></i>
<i class="icon-square"></i>
<i class="icon-square-down"></i>
<i class="icon-square-down-left"></i>
<i class="icon-square-down-right"></i>
<i class="icon-square-left"></i>
<i class="icon-square-right"></i>
<i class="icon-square-up"></i>
<i class="icon-square-up-left"></i>
<i class="icon-square-up-right"></i>
<i class="icon-stack"></i>
<i class="icon-stack2"></i>
<i class="icon-stack3"></i>
<i class="icon-stack4"></i>
<i class="icon-stack-cancel"></i>
<i class="icon-stack-check"></i>
<i class="icon-stack-down"></i>
<i class="icon-stack-empty"></i>
<i class="icon-stack-minus"></i>
<i class="icon-stack-music"></i>
<i class="icon-stackoverflow"></i>
<i class="icon-stack-picture"></i>
<i class="icon-stack-play"></i>
<i class="icon-stack-plus"></i>
<i class="icon-stack-star"></i>
<i class="icon-stack-text"></i>
<i class="icon-stack-up"></i>
<i class="icon-stairs"></i>
<i class="icon-stairs-down"></i>
<i class="icon-stairs-up"></i>
<i class="icon-stamp"></i>
<i class="icon-starburst"></i>
<i class="icon-star-empty3"></i>
<i class="icon-star-full2"></i>
<i class="icon-star-half"></i>
<i class="icon-stars"></i>
<i class="icon-station"></i>
<i class="icon-statistics"></i>
<i class="icon-stats-bars"></i>
<i class="icon-stats-bars2"></i>
<i class="icon-stats-bars3"></i>
<i class="icon-stats-bars4"></i>
<i class="icon-stats-decline"></i>
<i class="icon-stats-decline2"></i>
<i class="icon-stats-dots"></i>
<i class="icon-stats-growth"></i>
<i class="icon-stats-growth2"></i>
<i class="icon-steam"></i>
<i class="icon-steam2"></i>
<i class="icon-steering-wheel"></i>
<i class="icon-stop"></i>
<i class="icon-stop2"></i>
<i class="icon-store"></i>
<i class="icon-store2"></i>
<i class="icon-strategy"></i>
<i class="icon-strikethrough2"></i>
<i class="icon-strikethrough3"></i>
<i class="icon-stumbleupon"></i>
<i class="icon-stumbleupon2"></i>
<i class="icon-subscript"></i>
<i class="icon-subscript2"></i>
<i class="icon-subtract"></i>
<i class="icon-sun3"></i>
<i class="icon-superscript"></i>
<i class="icon-superscript2"></i>
<i class="icon-svg"></i>
<i class="icon-switch"></i>
<i class="icon-switch2"></i>
<i class="icon-switch22"></i>
<i class="icon-sync"></i>
<i class="icon-tab"></i>
<i class="icon-table"></i>
<i class="icon-table2"></i>
<i class="icon-tablet"></i>
<i class="icon-tape"></i>
<i class="icon-target"></i>
<i class="icon-target2"></i>
<i class="icon-task"></i>
<i class="icon-terminal"></i>
<i class="icon-text-color"></i>
<i class="icon-text-height"></i>
<i class="icon-text-width"></i>
<i class="icon-theater"></i>
<i class="icon-three-bars"></i>
<i class="icon-thumbs-down2"></i>
<i class="icon-thumbs-down3"></i>
<i class="icon-thumbs-up2"></i>
<i class="icon-thumbs-up3"></i>
<i class="icon-ticket"></i>
<i class="icon-toggle"></i>
<i class="icon-touch"></i>
<i class="icon-touch-pinch"></i>
<i class="icon-touch-zoom"></i>
<i class="icon-traffic-cone"></i>
<i class="icon-traffic-lights"></i>
<i class="icon-train"></i>
<i class="icon-train2"></i>
<i class="icon-transmission"></i>
<i class="icon-trash"></i>
<i class="icon-trash-alt"></i>
<i class="icon-tree5"></i>
<i class="icon-tree6"></i>
<i class="icon-tree7"></i>
<i class="icon-triangle"></i>
<i class="icon-triangle2"></i>
<i class="icon-trophy2"></i>
<i class="icon-trophy3"></i>
<i class="icon-trophy4"></i>
<i class="icon-truck"></i>
<i class="icon-tumblr"></i>
<i class="icon-tumblr2"></i>
<i class="icon-tux"></i>
<i class="icon-tv"></i>
<i class="icon-twitter"></i>
<i class="icon-twitter2"></i>
<i class="icon-typewriter"></i>
<i class="icon-typography"></i>
<i class="icon-umbrella"></i>
<i class="icon-underline2"></i>
<i class="icon-undo"></i>
<i class="icon-undo2"></i>
<i class="icon-unfold"></i>
<i class="icon-ungroup"></i>
<i class="icon-unicode"></i>
<i class="icon-unlink"></i>
<i class="icon-unlink2"></i>
<i class="icon-unlocked"></i>
<i class="icon-unlocked2"></i>
<i class="icon-upload"></i>
<i class="icon-upload10"></i>
<i class="icon-upload4"></i>
<i class="icon-upload7"></i>
<i class="icon-usb-stick"></i>
<i class="icon-user"></i>
<i class="icon-user-block"></i>
<i class="icon-user-cancel"></i>
<i class="icon-user-check"></i>
<i class="icon-user-lock"></i>
<i class="icon-user-minus"></i>
<i class="icon-user-plus"></i>
<i class="icon-users"></i>
<i class="icon-users2"></i>
<i class="icon-users4"></i>
<i class="icon-user-tie"></i>
<i class="icon-vcard"></i>
<i class="icon-vector"></i>
<i class="icon-vector2"></i>
<i class="icon-versions"></i>
<i class="icon-video-camera"></i>
<i class="icon-video-camera2"></i>
<i class="icon-video-camera3"></i>
<i class="icon-video-camera-slash"></i>
<i class="icon-vimeo"></i>
<i class="icon-vimeo2"></i>
<i class="icon-volume-decrease"></i>
<i class="icon-volume-high"></i>
<i class="icon-volume-increase"></i>
<i class="icon-volume-low"></i>
<i class="icon-volume-medium"></i>
<i class="icon-volume-mute"></i>
<i class="icon-volume-mute2"></i>
<i class="icon-volume-mute5"></i>
<i class="icon-wall"></i>
<i class="icon-wallet"></i>
<i class="icon-warning"></i>
<i class="icon-warning2"></i>
<i class="icon-warning22"></i>
<i class="icon-watch"></i>
<i class="icon-watch2"></i>
<i class="icon-wave"></i>
<i class="icon-wave2"></i>
<i class="icon-weather-windy"></i>
<i class="icon-width"></i>
<i class="icon-windows"></i>
<i class="icon-windows2"></i>
<i class="icon-windows8"></i>
<i class="icon-woman"></i>
<i class="icon-wordpress"></i>
<i class="icon-wordpress2"></i>
<i class="icon-wrench"></i>
<i class="icon-wrench2"></i>
<i class="icon-wrench3"></i>
<i class="icon-x"></i>
<i class="icon-xing"></i>
<i class="icon-yahoo"></i>
<i class="icon-yelp"></i>
<i class="icon-yin-yang"></i>
<i class="icon-youtube"></i>
<i class="icon-youtube2"></i>
<i class="icon-youtube3"></i>
<i class="icon-zoomin3"></i>
<i class="icon-zoomout3"></i> -->

        </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'app/js/pages/form_validation.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/js/plugins/forms/tags/tokenfield.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/js/pages/form_tags_input.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/js/core/libraries/jquery_ui/interactions.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/js/plugins/forms/selects/select2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/js/pages/form_select2.js' %}"></script>
    <script>
        $(document).ready( function () {
            new DataTable('#table_users');
            
        } );
    </script>

{% endblock %}