{% load tags %}{% load static %}
<div class="sidebar sidebar-main sidebar-fixed">
    <div class="sidebar-content">
        <div class="sidebar-user">
            <div class="category-content">
                <div class="media">
                    <a><img src="{{ user.profile.image.url }}" class="img-circle img-sm"></a>
                    <div class="media-body" id="div_info_agent">
                        <div class="media-heading text-size-big text-semibold">{{ user.first_name }} {{ user.last_name }} </div>
                        <div class="text-size-mini text-muted">{{ user.email }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sidebar-category sidebar-category-visible">


            <div class="category-content no-padding">
                <ul class="navigation navigation-main navigation-accordion">
                    <!--
                    <li>
                        <a href="{% url 'users:profile' %}"> <i class="icon-user position-left"></i>Perfil</a>
                    </li>
                    -->
                    <li class="nav-item nav-item-submenu">
                        <a href="{% url 'web:index' 'fr' %}" id="item_users" class="nav-link"><i class="icon-chrome"></i> Web Lj Realties</a>
                        <ul class="nav nav-group-sub">
                            <li class="nav-item"><a href="{% url 'web:statistics' %}"> <i class="icon-graph position-left"></i>Actualizar Estadisticas</a></li>
                            <li class="nav-item"><a href="{% url 'users:list_images' %}"> <i class="icon-file-picture position-left"></i>Actualizar Imagenes</a>
                            <li class="nav-item"><a href="{% url 'users:list_messages' %}"> <i class="icon-mail5 position-left"></i>Listado de Solicitudes</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="{% url 'users:profile_list' %}"> <i class="icon-users4 position-left"></i>Usuarios</a>
                    </li>
                    <!--
                    <li>
                        <a href="{% url 'properties:drop_database' %}"> <i class="icon-eraser2 position-left"></i>0. Borrar base de datos (Local)</a>
                    </li>
                    <li>
                        <a href="{% url 'properties:download_files' %}"> <i class="icon-download position-left"></i>1. Descargar Data (Centris)</a>
                    </li>
                    <li>
                        <a href="{% url 'properties:upload_data_auto' %}"> <i class="icon-database-upload position-left"></i>2. Cargar Data (Web)</a>
                    </li>
                    <li>
                        <a href="{% url 'properties:update_video_list' %}"> <i class="icon-database-upload position-left"></i>3. Actualizar Listado Videos</a>
                    </li>
                    -->
                    <li class="nav-item nav-item-submenu">
                        <a href="{% url 'web:index' 'fr' %}" id="item_users" class="nav-link"><i class="icon-book3"></i>Blog</a>
                        <ul class="nav nav-group-sub">
                            <li class="nav-item"><a href="{% url 'blog:new_category' %}"> <i class="icon-graph position-left"></i>Crear Categoria</a></li>
                            <li class="nav-item"><a href="{% url 'blog:categories' %}"> <i class="icon-graph position-left"></i>Listado de Categorias</a></li>
                            <li class="nav-item"><a href="{% url 'blog:new_post' %}"> <i class="icon-pencil7 position-left"></i>Crear POST</a></li>
                            <li class="nav-item"><a href="{{ server|server_url }}/blog/fr"> <i class="icon-list-unordered position-left"></i>Blog</a></li>
                            <li class="nav-item"><a href="{% url 'blog:list_articles' %}"> <i class="icon-list-unordered position-left"></i>Listado POST</a></li>
                        </ul>
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>
</div>