{% extends 'users/base.html' %}
{% load tags %}{% load static %}
{% block head_page %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'app/css/datatables/dataTables.css' %}"/>
    <script src="{% static 'app/js/datatables/dataTables.js' %}"></script>
    <script src="{% static 'app/js/core/libraries/bootstrap.min.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="page-header">
        <div class="page-header-content">
        <div class="page-title">
            <ul class="breadcrumb">
                <li>
                <h4><span class="no-margin text-bold">{{ user_form.instance.get_full_name }}</span></h4>
                </li>
                <div class="heading-elements">
                </div>
            </ul>
        </div>
        </div>
        <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li><a>Usuarios</a></li>
            <li>Perfil</li>
            <li class="active">{{ user_form.instance.get_full_name }}</li>
        </ul>
        </div>
    </div>
    <div class="content">
        {% if messages %}
                {% for message in messages %}
                    {% if message.tags == "error"%}
                        <div class="alert alert-danger">
                            {{ message }}
                            <ul>
                                {% for error in profile_form.errors %}
                                <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% else %}
                        <div class="alert alert-success">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %} 
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h5 class="panel-title"></h5>
                <div class="panel-body">
                    <form method="POST" enctype="multipart/form-data">{% csrf_token %}


                        <fieldset class="content-group">
                            <div class="col-lg-12">
                                <legend class="text-bold"><i class="icon-vcard mr-2 position-left"></i>Datos Básicos</legend>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="text-center mb-3">
                                            <div class="form-group">
                                                <img src="{% if user_form.instance.profile.image %}{{ user_form.instance.profile.image.url }}{% endif %}" class="img-circle mx-auto d-block" style="width: 150px; height: 150px;">
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <label for="id_image">Cambiar Imagen:</label>
                                            <input type="file" class="form-control-file" accept="image/*" id="id_image" name="image">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="text-center mb-3">
                                            <div class="form-group">
                                                <img src="{% if user_form.instance.profile.image_over %}{{ user_form.instance.profile.image_over.url }}{% endif%}" class="img-circle mx-auto d-block" style="width: 150px; height: 150px;">
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <label for="id_image">Cambiar Imagen Secundaria:</label>
                                            <input type="file" class="form-control-file" accept="image/*" id="id_image_over" name="image_over">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="id_first_name">Nombres: <span class="form-text text-danger">*</span></label>
                                                    <span class="text-danger">{{user_form.first_name.errors}}</span>
                                                    <input type="text" class="form-control" id="id_first_name" name="first_name" value="{{ user_form.instance.first_name }}" required>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="id_last_name">Apellidos: <span class="form-text text-danger">*</span></label>
                                                    <span class="text-danger">{{user_form.last_name.errors}}</span>
                                                    <input type="text" class="form-control" id="id_last_name" name="last_name" value="{{ user_form.instance.last_name }}" required>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="id_email">Email: <span class="form-text text-danger">*</span></label>
                                                    <span class="text-danger">{{user_form.email.errors}}</span>
                                                    <input type="email" class="form-control" id="id_email" name="email" value="{{ user_form.instance.email }}" required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>


                        <fieldset class="content-group">
                            <div class="col-lg-12">
                                <legend class="text-bold"><i class="icon-equalizer3 position-left"></i>Parametrización</legend>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="id_estado">Estado:</label>
                                            <select class="form-control" id="id_estado" name="is_active" required>
                                                <option value="True" {% if user_form.instance.is_active %}selected{% endif %}>Activo</option>
                                                <option value="false" {% if not user_form.instance.is_active %}selected{% endif %}>Inactivo</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="id_type_user">Orden en la WEB:</label>
                                            <select class="form-control" id="id_order" name="order">
                                                <option value="" {% if not user_form.instance.profile.order %}selected{% endif %}>Seleccione una opción</option>
                                                {% for numero in cantidad_usuarios %}
                                                    <option value="{{ numero }}" {% if user_form.instance.profile.order == numero  %}selected{% endif %}>{{ numero }}°</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="id_member">Perfil Vinculado:</label>
                                            <select class="form-control" id="id_member" name="membre">
                                                {% for membre in membres %}
                                                    <option value="{{ membre.id }}"
                                                        {% if user_form.instance.profile.membre == membre %}
                                                            selected
                                                        {% endif %}
                                                    >
                                                        {{ membre.prenom }} {{ membre.nom }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="id_occupation">Cargo Francés: </label>
                                            <input type="text" class="form-control" id="id_occupation" name="occupation" value="{{ user_form.instance.profile.occupation|default_if_none:'' }}">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="id_occupation_anglaise">Cargo Ingles:</label>
                                            <input type="text" class="form-control" id="id_occupation_anglaise" name="occupation_anglaise" value="{{ user_form.instance.profile.occupation_anglaise|default_if_none:'' }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="id_presentation_f">Presentación Francés:</label>
                                            <textarea rows="7" class="form-control" id="id_presentation_f" name="presentation_f">{{ user_form.instance.profile.presentation_f|default_if_none:'' }}</textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="id_presentation_a">Presentación Inglés:</label>
                                            <textarea rows="7" class="form-control" id="id_presentation_a" name="presentation_a">{{ user_form.instance.profile.presentation_a|default_if_none:'' }}</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        
                        <fieldset class="content-group">
                            <div class="col-lg-12">
                                <legend class="text-bold"><i class="icon-price-tag2 position-left"></i>Redes Sociales</legend>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="id_facebook">Facebook:</label>
                                            <input type="text" class="form-control" id="id_facebook" name="facebook" value="{{ user_form.instance.profile.facebook|default_if_none:'' }}">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="id_instagram">Instagram:</label>
                                            <input type="text" class="form-control" id="id_instagram" name="instagram" value="{{ user_form.instance.profile.instagram|default_if_none:'' }}">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="id_linkedin">Linkedin:</label>
                                            <input type="text" class="form-control" id="id_linkedin" name="linkedin" value="{{ user_form.instance.profile.linkedin|default_if_none:'' }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="id_twitter">Twitter:</label>
                                            <input type="text" class="form-control" id="id_twitter" name="twitter" value="{{ user_form.instance.profile.twitter|default_if_none:'' }}">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="id_tiktok">TikTok:</label>
                                            <input type="text" class="form-control" id="id_tiktok" name="tiktok" value="{{ user_form.instance.profile.tiktok|default_if_none:'' }}">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="id_tiktok">Youtube:</label>
                                            <input type="text" class="form-control" id="id_youtube" name="youtube" value="{{ user_form.instance.profile.youtube|default_if_none:'' }}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn bg-primary-800 btn-labeled btn-xlg"  style="width: auto;"><b><i class="icon-floppy-disk"></i></b><span class="margin-left-20">ACTUALIZAR</span></button>
                                <a href="{% url 'users:profile_list' %}" class="btn bg-orange-600 btn-labeled btn-xlg"  style="width: auto;"><b><i class="icon-undo2"></i></b><span class="margin-left-20">VOLVER</span></a>
                                <a href="{% url 'users:password_change_user' user_id=user_form.instance.id %}" class="btn bg-pink-600 btn-labeled btn-xlg"  style="width: auto;"><b><i class="icon-undo2"></i></b><span class="margin-left-20">CAMBIAR LA CONTRASEÑA</span></a>
                            </div>
                        </fieldset>

                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
{% block javascript %}

<script type="text/javascript" src="{% static 'app/js/pages/form_validation.js' %}"></script>
<script type="text/javascript" src="{% static 'app/js/plugins/forms/tags/tokenfield.min.js' %}"></script>
<script type="text/javascript" src="{% static 'app/js/pages/form_tags_input.js' %}"></script>
<script type="text/javascript" src="{% static 'app/js/core/libraries/jquery_ui/interactions.min.js' %}"></script>
<script type="text/javascript" src="{% static 'app/js/plugins/forms/selects/select2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'app/js/pages/form_select2.js' %}"></script>

{% endblock %}