
 @media (min-width: 576px) {
    .container {
        max-width: 740px !important;
    }
}
 @media (min-width: 768px) {
     .container {
         max-width: 877px !important;
    }
}
 @media (min-width: 992px) {
     .container {
         max-width: 1060px !important;
    }
}
 @media (min-width: 1200px) {
     .container {
         max-width: 1330px !important;
    }
}
 @media (min-width: 1700px) {
     .container {
         max-width: 1792px !important;
    }
}

/** Powered by Jenner Castillo */
 .col__izq {
     width: 62%;
     background-color: #FFF;
     z-index: 10;
}
 .col__der {
     width: 38%;
     z-index: 10;
     position: fixed;
     right: 0px;
     height: 100%;
     background-color: #A4D7F4;
}
 @media (min-width: 300px) and (max-width: 813px) {
     .col__izq {
         width: 100%;
         background-color: #FFF;
         z-index: 10;
    }
     .col__der {
         width: 100%;
         z-index: 10;
         background-color: #003DA5;
         position: relative;
    }
}
 @media (min-width: 814px) and (max-width: 1023px) {
     .col__izq {
         width: 100%;
         background-color: #FFF;
         z-index: 10;
    }
     .col__der {
         width: 100%;
         z-index: 10;
         background-color: #003DA5;
         position: relative;
    }
}
 @media screen and (min-width: 1300px) {
     .col__izq {
         width: calc(100% - 480px);
         background-color: #FFF;
         z-index: 10;
    }
     .col__der {
         width: 480px;
         z-index: 10;
         background-color: #A4D7F4;
    }
}
 .__jsu {
     justify-content: center;
     background-position: center center;
     background-size: cover;
     display: flex;
}
 .__cont {
     position: relative;
     height: 600px;
     justify-content: center;
     display: grid;
}

 .__cont .__logosup .__globo {
     position: absolute;
     width: 110px;
     top: 0px;
     z-index: 11;
     left: 150px;
}
 .__cont .__logosup .__globo img {
     width: 100%;
}
 .__cont .__logosup .__top {
     position: absolute;
     left: 245px;
     top: 30px;
}
 .__cont .__logosup .__top .__htop {
     background-image: url("https://remax-static.s3.us-east-1.amazonaws.com/static/landing/img/top.svg");
     background-repeat: no-repeat;
     color: #FFFFFF;
     font-size: 15pt;
     padding: 3px 30px 0px 25px;
     font-weight: bold;
}
 .__cont .__logosup .__top .__dtop {
     color: #003DA5;
     padding: 5px 13px 5px 25px;
     font-size: 20px;
     font-weight: bold;
}
 .__cont .__premio {
     width: 600px;
     height: 240px;
     position: relative;
}
 .__cont .__premio .__primer {
     position: absolute;
     left: 220px;
}
 .__cont .__premio .__primer .__corona {
     position: absolute;
     top: -10px;
     left: -15px;
     z-index: 3;
     width: 40px;
}
 .__cont .__premio .__primer .__foto {
     overflow: hidden;
     background-color: #FFFFFF;
     border-radius: 150px;
     width: 150px;
     position: absolute;
     height: 150px;
     border: 2px solid white;
}
 .__cont .__premio .__primer .__foto img {
     position: absolute;
     width: 250px;
     left: -50px;
}
 .__cont .__premio .__primer .__nombre {
     position: absolute;
     left: -25px;
     top: 135px;
}
 .__cont .__premio .__primer .__nombre .__nomt {
     position: absolute;
     text-align: center;
     color: #FFFFFF;
     z-index: 2;
     font-size: 14px;
     width: 153px;
     left: 23px;
     font-weight: 100;
     text-overflow: ellipsis;
     overflow: hidden;
     white-space: nowrap;
}
 .__cont .__premio .__primer .__nombre .__bgnom {
     width: 200px;
     top: -5px;
     left: 0px;
     position: absolute;
}
 .__cont .__premio .__primer .__lugar {
     position: absolute;
     left: -25px;
     top: 170px;
}
 .__cont .__premio .__primer .__lugar .__01 {
     color: #DC1C2E;
     width: 200px;
     text-align: center;
     font-size: 25px;
}
 .__cont .__premio .__primer .__lugar .__02 {
     color: #003DA5;
     width: 200px;
     font-weight: 100;
     text-align: center;
}
 .__cont .__premio .__segundo {
     position: absolute;
     left: 90px;
     top: 180px;
}
 .__cont .__premio .__segundo .__corona {
     position: absolute;
     top: -10px;
     left: -15px;
     z-index: 3;
     width: 40px;
}
 .__cont .__premio .__segundo .__foto {
     overflow: hidden;
     background-color: #FFFFFF;
     border-radius: 150px;
     width: 120px;
     position: absolute;
     height: 120px;
     border: 2px solid white;
}
 .__cont .__premio .__segundo .__foto img {
     position: absolute;
     width: 210px;
     left: -50px;
}
 .__cont .__premio .__segundo .__nombre {
     position: absolute;
     left: -30px;
     top: 115px;
}
 .__cont .__premio .__segundo .__nombre .__nomt {
     position: absolute;
     text-align: center;
     color: #FFFFFF;
     z-index: 2;
     font-size: 14px;
     width: 133px;
     left: 23px;
     font-weight: 100;
     text-overflow: ellipsis;
     overflow: hidden;
     white-space: nowrap;
}
 .__cont .__premio .__segundo .__nombre .__bgnom {
     width: 180px;
     top: -5px;
     left: 0px;
     position: absolute;
}
 .__cont .__premio .__segundo .__lugar {
     position: absolute;
     left: -35px;
     top: 145px;
}
 .__cont .__premio .__segundo .__lugar .__01 {
     color: #DC1C2E;
     width: 200px;
     text-align: center;
     font-size: 25px;
}
 .__cont .__premio .__segundo .__lugar .__02 {
     color: #003DA5;
     width: 200px;
     font-weight: 100;
     text-align: center;
     font-size: 13px;
}
 .__cont .__premio .__tercero {
     position: absolute;
     left: 390px;
     top: 180px;
}
 .__cont .__premio .__tercero .__corona {
     position: absolute;
     top: -10px;
     left: -15px;
     z-index: 3;
     width: 40px;
}
 .__cont .__premio .__tercero .__foto {
     overflow: hidden;
     background-color: #FFFFFF;
     border-radius: 150px;
     width: 120px;
     position: absolute;
     height: 120px;
     border: 2px solid white;
}
 .__cont .__premio .__tercero .__foto img {
     position: absolute;
     width: 210px;
     left: -50px;
}
 .__cont .__premio .__tercero .__nombre {
     position: absolute;
     left: -30px;
     top: 115px;
}
 .__cont .__premio .__tercero .__nombre .__nomt {
     position: absolute;
     text-align: center;
     color: #FFFFFF;
     z-index: 2;
     font-size: 14px;
     width: 133px;
     left: 23px;
     font-weight: 100;
     text-overflow: ellipsis;
     overflow: hidden;
     white-space: nowrap;
}
 .__cont .__premio .__tercero .__nombre .__bgnom {
     width: 180px;
     top: -5px;
     left: 0px;
     position: absolute;
}
 .__cont .__premio .__tercero .__lugar {
     position: absolute;
     left: -35px;
     top: 145px;
}
 .__cont .__premio .__tercero .__lugar .__01 {
     color: #DC1C2E;
     width: 200px;
     text-align: center;
     font-size: 25px;
}
 .__cont .__premio .__tercero .__lugar .__02 {
     color: #003DA5;
     width: 200px;
     font-weight: 100;
     text-align: center;
     font-size: 13px;
}
